<% post_counts = false if post_counts.nil? %>

<table class="table table-striped spammers-on-site-table">
  <thead>
    <tr>
      <th class="text-muted">MS ID</th>
      <th>Site ID</th>
      <% if post_counts %>
        <th>Post Count</th>
      <% end %>
      <th>Reputation</th>
      <% if user_signed_in? && current_user.moderator_sites.exists? %>
        <th>Handled</th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% users.each do |u| %>
      <tr class="spammer-row">
        <td class="text-muted ms-id-cell"><%= link_to u.id, url_for(controller: :stack_exchange_users, action: :show, id: u.id) %></td>
        <td class="se-id-cell"><%= link_to "#{u.user_id} (#{u.username})", "#{@site.site_url}/users/#{u.user_id}" %></td>
        <% if post_counts %>
          <td><%= u.posts.count %></td>
        <% end %>
        <td class="se-user-reputation-cell"><%= u.reputation %></td>
        <% if user_signed_in? && current_user.moderator_sites.exists? %>
          <td class="moderator-action-cell"><a href="#" class="not-spammer" data-uid="<%= u.id %>">Remove from list</a></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="text-center pagination-container">
  <%= will_paginate users, renderer: BootstrapPagination::Rails %>
</div>