<h3>Review History</h3>
<p>This page is the definitive history of all review tasks undertaken and their results.</p>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Post</th>
      <th>User</th>
      <th>Result</th>
      <th>At</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @results.each do |r| %>
      <tr>
        <%= render 'posts/post', post: @posts.find(r.post_id), wrap_in_tr: false %>
        <td><%= r.user.username %></td>
        <td><span class="<%= r.text_class %>"><%= r.result %></span></td>
        <td><span title="<%= r.created_at %>"><%= time_ago_in_words r.created_at %> ago</span></td>
        <td>
          <% if r.result == 'skip' && current_user.has_role?(:admin) %>
            <%= link_to 'delete', review_unskip_path(result: r.id), class: 'text-danger', method: :post %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
