<style>
  .review-actions td {
    border-bottom: none !important;
  }
  .post-cell td {
    border-top: none !important;
  }
</style>

<h2><%= title 'Review' %></h2>

<div style="float:right">
  <%= form_tag review_path, method: "get" do |f| %>
    <%= select_tag "reason", options_from_collection_for_select(Reason.all, "id", "reason_name", params[:reason]), include_blank: "All" %>
    <%= submit_tag "Filter", class: "btn btn-primary btn-xs" %>
  <% end %>
</div>

<br />

<table class="table">
  <% @posts.each do |post| %>
    <% if current_user.present? and current_user.has_role? :reviewer %>
      <tr class="review-actions">
        <td>
          <div style="float:left">
            <%= link_to 'Spam / Abusive', review_feedback_path(post_id: post.id, feedback_type: 'tpu'),
                        class: 'feedback-button btn btn-sm btn-success', remote: true, method: :post, data: { post_id: post.id } %>
            <%= link_to 'False Positive', review_feedback_path(post_id: post.id, feedback_type: 'fp'),
                        class: 'feedback-button btn btn-sm btn-danger', remote: true, method: :post, data: { post_id: post.id } %>
            <% if post.link.nil? or post.link.include? '/a/' %>
              <%= link_to 'NAA', review_feedback_path(post_id: post.id, feedback_type: 'naa'), class: 'feedback-button btn btn-sm btn-warning',
                          remote: true, method: :post, data: { post_id: post.id } %>
            <% end %>
            <%= link_to 'Skip', review_skip_path(post_id: post.id), class: 'feedback-button btn btn-sm btn-info', remote: true, method: :post,
                        data: { post_id: post.id } %>
          </div>
        </td>
      </tr>
    <% end %>

    <%= render 'posts/post', :post => post, :expand_post => true %>
  <% end %>
</table>

<div class="text-center">
  <%= will_paginate @posts, renderer: BootstrapPagination::Rails %>
</div>
