<h2>Review</h2>

<br />

<style>
  .review-actions td {
    border-bottom: none !important;
  }
  .post-cell td {
    border-top: none !important;
  }
</style>

<table class="table">
  <% @posts.each do |post| %>
    <tr class="review-actions">
      <td>
        <div style="float:left">
          <%= link_to "Spam / Abusive", review_feedback_path(post_id: post.id, feedback_type: "tp"), :class => "feedback-button btn btn-sm btn-success", remote: true, method: :post, data: {:post_id => post.id} %>
          <%= link_to "False Positive", review_feedback_path(post_id: post.id, feedback_type: "fp"), :class => "feedback-button btn btn-sm btn-danger", remote: true, method: :post, data: {:post_id => post.id}%>
          <%= link_to "NAA", review_feedback_path(post_id: post.id, feedback_type: "naa"), :class => "feedback-button btn btn-sm btn-default", remote: true, method: :post, data: {:post_id => post.id}%>
        </div>
      </td>
    </tr>

    <%= render 'posts/post', :post => post, :expand_post => true %>
  <% end %>
</table>

<div class="text-center">
  <%= will_paginate @posts, renderer: BootstrapPagination::Rails %>
</div>
