<p>
  <strong><%= @reasons.count %></strong>
  <%= "filter".pluralize(@reasons.count) %> have caught
  <strong><%= number_with_delimiter(@posts.count) %></strong>
  <%= "post".pluralize(@posts.count) %>
</p>

<table class="table" style="margin-top:50px">
  <thead>
    <tr>
      <th>Reason</th>
      <th>Number caught</th>
      <th>Last caught</th>
      <th>Accuracy</th>
    </tr>
  </thead>

  <tbody>
    <% @reasons.each do |reason| %>
      <tr>
        <td><%= link_to reason.reason_name, "/reason/#{reason.id}" %></td>
        <td><%= reason.post_count %></td>
        <td><%= truncate((reason.last_post_title.nil? ? reason.posts.last.title : reason.last_post_title), :length => 40, :seperator => ' ') %></td>
        <td width="30%">
          <% cache(reason, skip_digest: true) do %>
            <%= render 'reason_accuracy', reason: reason %>
          <% end %>
        </td>
      </tr>
    <% end %>
 </tbody>
</table>
