<p>
  <strong><%= @reasons.count %></strong>
  <%= 'filter'.pluralize(@reasons.count) %> have caught
  <strong><%= number_with_delimiter(@posts.count) %></strong>
  <%= 'post'.pluralize(@posts.count) %>
</p>

<table class="table sortable-table" style="margin-top:50px">
  <thead>
    <tr>
      <th>Reason</th>
      <th>Number caught</th>
      <th class='no-sort'>Last caught</th>
      <th>Weight</th>
      <th>Accuracy</th>
    </tr>
  </thead>

  <tbody>
    <% @active_reasons[:results].each do |reason| %>
      <tr class="">
        <td><%= link_to reason.reason_name, reason_path(reason) %></td>
        <td data-sort-value="<%= reason.post_count %>"><%= reason.post_count %></td>
        <td><%= truncate((reason.last_post_title.nil? ? reason.posts.last.title : reason.last_post_title), length: 40, seperator: ' ') %></td>
        <td data-sort-value="<%= reason.weight %>"><%= reason.weight %></td>
        <% counts = @active_reasons[:counts][reason.id] %>
        <%= render 'reason_accuracy', reason: reason, tp: 100 * counts[:tp].to_f / counts[:total], fp: 100 * counts[:fp].to_f / counts[:total],
                           naa: 100 * counts[:naa].to_f / counts[:total] %>
      </tr>
    <% end %>
 </tbody>
</table>

<table class="table sortable-table" style="margin-top:50px">
  <thead>
    <tr>
      <th>Inactive Reason</th>
      <th>Number caught</th>
      <th class='no-sort'>Last caught</th>
      <th>Accuracy</th>
    </tr>
  </thead>

  <tbody>
    <% @inactive_reasons[:results].each do |reason| %>
      <tr class="active text-muted inactive-reason">
        <td><%= link_to reason.reason_name, reason_path(reason) %></td>
        <td data-sort-value="<%= reason.post_count %>"><%= reason.post_count %></td>
        <td><%= truncate((reason.last_post_title.nil? ? reason.posts.last.title : reason.last_post_title), length: 40, seperator: ' ') %></td>
        <% counts = @inactive_reasons[:counts][reason.id] %>
        <%= render 'reason_accuracy', reason: reason, tp: 100 * counts[:tp].to_f / counts[:total], fp: 100 * counts[:fp].to_f / counts[:total],
                           naa: 100 * counts[:naa].to_f / counts[:total] %>
      </tr>
    <% end %>
 </tbody>
</table>
