<p>
  <strong><%= @reasons.count %></strong>
  filters have caught
  <strong><%= @posts.count %></strong>
  posts
</p>

<table class="table" style="margin-top:50px">
  <thead>
    <tr>
      <th>Reason</th>
      <th>Number caught</th>
      <th>Last caught</th>
    </tr>
  </thead>

  <tbody>
    <% @reasons.sort { |a, b| b.posts.count <=> a.posts.count }.each do |reason| %>
      <tr>
        <td><%= reason.reason_name %></td>
        <td><%= reason.posts.count %></td>
        <td><%= reason.posts.last.title.html_safe %></td>
      </tr>
    <% end %>
 </tbody>
</table>
