<p>
  <strong><%= @reasons.count %></strong>
  <%= "filter".pluralize(@reasons.count) %> have caught
  <strong><%= @posts.count %></strong>
  <%= "post".pluralize(@posts.count) %>
</p>

<table class="table" style="margin-top:50px">
  <thead>
    <tr>
      <th>Reason</th>
      <th>Number caught</th>
      <th>Last caught</th>
      <th>Accuracy</th>
    </tr>
  </thead>

  <tbody>
    <% @reasons.each do |reason| %>
      <tr>
        <td><%= link_to reason.reason_name, "/reason/#{reason.id}" %></td>
        <td><%= reason.post_count %></td>
        <td><%= truncate((reason.last_post_title.nil? ? reason.posts.last.title : reason.last_post_title), :length => 40, :seperator => ' ') %></td>
        <td width="30%">
          <% cache(reason, skip_digest: true) do %>
            <% tp = reason.tp_percentage * 100 %>
            <% naa = reason.both_percentage * 100 %>
            <% fp = reason.fp_percentage * 100 %>
            <% empty = 100 - (tp + fp + naa) %>
            <div class="progress" style="height:15px; margin-bottom:0px" title="TP: <%= tp %>\nNAA/Both: <%= naa %>\nFP: <%= fp %>\nNone: <%= empty %>">
              <div class="progress-bar progress-bar-success" style="width:<%= tp %>%"></div>
              <div class="progress-bar progress-bar-info" style="width:<%= empty %>%; background-color: rgba(0,0,0,0)"></div>
              <div class="progress-bar progress-bar-warning" style="width:<%= naa %>%"></div>
              <div class="progress-bar progress-bar-danger" style="width:<%= fp %>%"></div>
            </div>
          <% end %>
        </td>
      </tr>
    <% end %>
 </tbody>
</table>
