<% title 'Dashboard' %>
<div class="row clearfix">
  <div class="col-md-3">
    <% smokey_count = SmokeDetector.active.count %>
    <% system_status = smokey_count > 0 ? (smokey_count > 1 ? 'module-green' : 'module-amber') : 'module-red' %>
    <div class="module <%= system_status %>">
      <div class="module-header">
        <h4 class="module-title"><span class="glyphicon glyphicon-dashboard"></span> system status</h4>
      </div>
      <div class="module-body">
        <p class="status-text"><strong><%= pluralize(smokey_count, 'instance') %></strong> active</p>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <% is_enabled = FlagSetting['flagging_enabled'] == '1' %>
    <% is_dry_run = FlagSetting['dry_run'] == '1' %>
    <% status = is_enabled ? (is_dry_run ? 'Dry-running' : 'Enabled') : 'Disabled' %>
    <% flagging_status = is_enabled ? (is_dry_run ? 'module-amber' : 'module-green') : 'module-red' %>
    <div class="module <%= flagging_status %>">
      <div class="module-header">
        <h4 class="module-title"><span class="glyphicon glyphicon-flag"></span> flagging</h4>
      </div>
      <div class="module-body">
        <p class="status-text">
          <strong><%= status %></strong>, <%= pluralize(FlagLog.successful.auto.today.count, 'flag') %> today
          <% if user_signed_in? && current_user.flags_enabled %>
            (<%= FlagLog.successful.auto.today.where(user: current_user).count %> yours)
          <% end %>
        </p>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="module">
      <div class="module-header">
        <h4 class="module-title"><span class="glyphicon glyphicon-pencil"></span> posts today</h4>
      </div>
      <div class="module-body">
        <p><strong><%= pluralize(Post.today.count, 'post') %></strong> reported</p>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="module">
      <div class="module-header">
        <h4 class="module-title"><span class="glyphicon glyphicon-ok"></span> feedback</h4>
      </div>
      <div class="module-body">
        <p>
          <strong><%= pluralize(Feedback.today.count, 'feedback') %></strong> today
          <% if user_signed_in? %>
            (<%= Feedback.today.where(user: current_user).count %> yours)
          <% end %>
        </p>
      </div>
    </div>
  </div>
</div>

<h4>Reports <small>hourly, last week</small></h4>
<%= line_chart reports_by_hour_graph_path(cache: true), colors: ['#444', '#0a0', '#a00'] %>

<div class="col-md-6">
  <h4>Time to deletion <small>daily, last month</small></h4>
  <%= line_chart monthly_ttd_graph_path(cache: true, months: 1), colors: ['#444'] %>
</div>
<div class="col-md-6">
  <h4>Flagging results <small>daily, last month</small></h4>
  <%= line_chart flagging_timeline_graph_path(cache: true), colors: ['#a00', '#fa0', '#0a0'] %>
</div>

<h3>Stats</h3>
<p>
  <strong><%= Post.count %> total reports</strong> from <strong><%= Reason.count %> reasons</strong>:
  <ul>
    <li><strong><%= Post.tp.count %></strong> (<%= ((Post.tp.count.to_f / Post.count) * 100).round(2) %>%) TP</li>
    <li><strong><%= Post.fp.count %></strong> (<%= ((Post.fp.count.to_f / Post.count) * 100).round(2) %>%) FP</li>
    <li><strong><%= Post.naa.count %></strong> (<%= ((Post.naa.count.to_f / Post.count) * 100).round(2) %>%) NAA</li>
  </ul>
</p>
<p>
  <strong><%= Post.autoflagged.count %> posts</strong> have been autoflagged,
  totalling <strong><%= FlagLog.successful.auto.count %> flags</strong>:
  <ul>
    <li><strong><%= Post.autoflagged.tp.count %></strong> (<%= ((Post.autoflagged.tp.count.to_f / Post.autoflagged.count) * 100).round(2) %>%) TP</li>
    <li><strong><%= Post.autoflagged.fp.count %></strong> (<%= ((Post.autoflagged.fp.count.to_f / Post.autoflagged.count) * 100).round(2) %>%) FP</li>
  </ul>
</p>

<h3>Links</h3>
<ul>
  <li><a href="https://charcoal-se.org/">What are Charcoal and SmokeDetector?</a></li>
  <li><%= link_to 'Spam by site (including undeleted)', spam_by_site_path %></li>
  <li><%= link_to 'Autoflagging by site', flagging_by_site_path %></li>
</ul>