<h3><%= link_to (image_tag @site.site_logo, size: "20"), @site.site_url %> <%= @site.site_name %>: Dashboard</h3>

<div class="filters">
  <%= form_tag :site_dash, method: :get, class: 'form-inline' do %>
    Data from site:
    <%= select_tag :site_id, options_from_collection_for_select(Site.mains.order(site_name: :asc), 'id', 'site_name', params[:site_id]), class: 'form-control' %>
    over the last
    <%= number_field_tag :months, @months, min: 1, class: 'form-control' %>
    months
    <%= hidden_field_tag :tab, @active_tab %>
    <%= submit_tag 'Apply', class: 'btn btn-primary', name: nil %>
  <% end %>
</div>
<br/>
<h3>Stats (last <%= @months_string %>)</h3>
<p>
  There have been <strong><%= number_with_delimiter @flags.count, delimiter: @delimiter %> attempts</strong> to cast flags automatically on <%= @site.site_name %> in the last <%= @months_string %>.<br/>
  We were able to cast automatic flags <strong><%= number_with_delimiter @flags.successful.count, delimiter: @delimiter %></strong> times (<%= ((@flags.successful.count.to_f / @flags.count) * 100).round(2) %>%) and we were unable to cast automatic flags <strong><%= number_with_delimiter @flags.failed.count, delimiter: @delimiter %></strong> times (<%= ((@flags.failed.count.to_f / @flags.count) * 100).round(2) %>%).<br/>
  The flags were <strong><%= number_with_delimiter @flags.successful.tp.count, delimiter: @delimiter %></strong> (<%= ((@flags.successful.tp.count.to_f / @flags.successful.count) * 100).round(2) %>%) true positives (TPs) and
  <strong><%=  number_with_delimiter @flags.successful.fp.count, delimiter: @delimiter %></strong> (<%= ((@flags.successful.fp.count.to_f / @flags.successful.count) * 100).round(2) %>%) false positives (FPs).<br/>
  The posts were <strong><%= number_with_delimiter @posts_timescaled.autoflagged.tp.count, delimiter: @delimiter %></strong> (<%= ((@posts_timescaled.autoflagged.tp.count.to_f / @posts_timescaled.autoflagged.count) * 100).round(2) %>%) TPs and
  <strong><%= number_with_delimiter @posts_timescaled.autoflagged.fp.count, delimiter: @delimiter %></strong> (<%= ((@posts_timescaled.autoflagged.fp.count.to_f / @posts_timescaled.autoflagged.count) * 100).round(2) %>%) FPs.<br/>
</p>

<div class="row">
  <% height = '150px' %>
  <div class='col-md-3'>
    <h4><%= link_to (image_tag @site.site_logo, size: "20"), @site.site_url %> Reports <small>last <%= @months_string %></small></h4>
    <%= pie_chart report_counts_graph_path(months: @months, site_id: @site.id), colors: ['#444', '#0a0', '#a00'], height: height %>
  </div>
  <div class='col-md-9'>
    <h4><%= link_to (image_tag @site.site_logo, size: "20"), @site.site_url %> Reports <small>daily, last <%= @months_string %></small></h4>
    <%= line_chart reports_graph_path(months: @months, site_id: @site.id), colors: ['#444', '#0a0', '#a00'], height: height, library: {'tooltip' => {'shared' => 'true'} }, legend: false %>
  </div>
</div>
<div class="row">
  <div class='col-md-5'>
    <h4><%= link_to (image_tag @site.site_logo, size: "20"), @site.site_url %> Reasons <small>post count, last <%= @months_string %></small></h4>
    <%= pie_chart reason_counts_graph_path(months: @months, site_id: @site.id), height: height %>
  </div>
  <div class='col-md-7'>
    <h4><%= link_to (image_tag @site.site_logo, size: "20"), @site.site_url %> Time to deletion <small>daily, last <%= @months_string %></small></h4>
    <%= line_chart monthly_ttd_graph_path(months: @months, site_id: @site.id, round: 0), colors: ['#444'], height: height %>
  </div>
</div>
<hr>
<h3>Summary and Posts (All Time)</h3>
<table class="table no-top-border">
  <tr>
    <th><b>Posts Caught:</b></th>
    <th><b>True Positives:</b></th>
    <th><b>False Positives:</b></th>
    <th><b>Non-answers:</b></th>
    <th><b>Autoflagged (total):</b></th>
    <th><b>Autoflagged False Positives:</b></th>
  </tr>
  <tr>
    <td class="text-info"><%= number_with_delimiter @all_posts.count, delimiter: @delimiter %></td>
    <td class="text-success"><%= number_with_delimiter @all_posts.where(is_tp:true).count, delimiter: @delimiter %></td>
    <td class="text-danger"><%= number_with_delimiter @all_posts.where(is_fp:true).count, delimiter: @delimiter %></td>
    <td class="text-warning"><%= number_with_delimiter @all_posts.where(is_naa:true).count, delimiter: @delimiter %></td>
    <td class="text-success"><%= number_with_delimiter @all_posts.where(autoflagged:true).count, delimiter: @delimiter %></td>
    <td class="text-danger"><%= number_with_delimiter @all_posts.where(autoflagged:true, is_fp: true).count, delimiter: @delimiter %></td>
  </tr>
</table>

<div class="alert alert-info">
  <strong>RSS</strong>

  <p>Use the below link as an RSS feed of all posts that were <strong>autoflagged then deleted</strong>. There's a few minutes of delay, but it's useful for watching what's happening on your site. It's safe to use this in your private mod chat room.</p>
  <br />
  <code>
    <%= url_for(controller: 'rss', action: 'deleted', site: @site.id, format: :xml, only_path: false) %>
  </code>
</div>

<ul class="nav nav-tabs">
  <% @tabs.each do |tab, posts| %>
  <li class="<%= "active" if tab.downcase == @active_tab %>">
    <%= link_to "#{tab} (#{number_with_delimiter(posts.count, delimiter: @delimiter)})", site_dash_path(params.permit(:site_id, :months).to_h.merge(tab: tab.downcase)) %>
  </li>
  <% end %>
  <li class="<%= "active" if @active_tab.downcase == "spammers" %>">
    <%= link_to "Spammers (#{number_with_delimiter(@spammers.length, delimiter: @delimiter)})", site_dash_path(params.permit(:site_id, :months).to_h.merge(tab: 'spammers')) %>
  </li>
  <% if user_signed_in? && (current_user.moderator_sites.exists? || current_user.has_role?(:admin)) %>
    <li class="<%= "active" if @active_tab.downcase == "autoflaggers" %>">
      <%= link_to "Autoflaggers (#{number_with_delimiter(@autoflaggers.length, delimiter: @delimiter)})", site_dash_path(params.permit(:site_id, :months).to_h.merge(tab: 'autoflaggers')) %>
    </li>
  <% end %>
</ul>

<% if @active_tab == 'spammers' %>
  <%= render 'stack_exchange_users/table', users: @spammers_page %>
<% elsif @active_tab == 'autoflaggers' && user_signed_in? && (current_user.moderator_sites.exists? || current_user.has_role?(:admin)) %>
  <%= render 'users/table', users: @autoflaggers_page %>
<% else %>
  <% if @posts.count == 0 %>
    <p>No spam here! Try another filter.</p>
  <% else %>
    <table class="table">
      <% @posts.each do |p| %>
        <%= render 'posts/post', post: p, deletion_date: true, show_autoflaggers: (user_signed_in? && current_user.moderator_sites.exists?), show_autoflagged: (user_signed_in? && current_user.moderator_sites.exists? && !%w[autoflagged].include?(@active_tab)) %>
      <% end %>
    </table>
  <% end %>

  <div class="text-center">
    <%= will_paginate @posts, renderer: BootstrapPagination::Rails %>
  </div>
<% end %>