<h3><%= link_to (image_tag @site.site_logo, size: "20"), @site.site_url %> <%= @site.site_name %>: Dashboard</h3>

<div class="filters">
  <%= form_tag :site_dash, method: :get, class: 'form-inline' do %>
    Data from site:
    <%= select_tag :site_id, options_from_collection_for_select(Site.mains.order(site_name: :asc), 'id', 'site_name', params[:site_id]), class: 'form-control' %>
    over the last
    <%= number_field_tag :months, @months, min: 1, class: 'form-control' %>
    months
    <%= hidden_field_tag :tab, params[:tab] %>
    <%= submit_tag 'Apply', class: 'btn btn-primary' %>
  <% end %>
</div>
<br>
<p>
  There have been <strong><%= @flags.count %> attempts</strong> to cast flags automatically on <%= @site.site_name %> in the last <%= @months_string %>.<br/>
  We were able to cast automatic flags <strong><%= @flags.successful.count %></strong> times (<%= ((@flags.successful.count.to_f / @flags.count) * 100).round(2) %>%) and we were unable to cast automatic flags <strong><%= @flags.failed.count %></strong> times (<%= ((@flags.failed.count.to_f / @flags.count) * 100).round(2) %>%).<br/>
  The flags were <strong><%= @flags.successful.tp.count %></strong> (<%= ((@flags.successful.tp.count.to_f / @flags.successful.count) * 100).round(2) %>%) TPs and
  <strong><%= @flags.successful.fp.count %></strong> (<%= ((@flags.successful.fp.count.to_f / @flags.successful.count) * 100).round(2) %>%) FPs.<br/>
  The posts were <strong><%= @all_posts.autoflagged.tp.count %></strong> (<%= ((@all_posts.autoflagged.tp.count.to_f / @all_posts.autoflagged.count) * 100).round(2) %>%) TPs and
  <strong><%= @all_posts.autoflagged.fp.count %></strong> (<%= ((@all_posts.autoflagged.fp.count.to_f / @all_posts.autoflagged.count) * 100).round(2) %>%) FPs.<br/>
</p>

<div class="row">
  <% height = '150px' %>
  <div class='col-md-3'>
    <%= pie_chart report_counts_graph_path(months: @months, site_id: @site.id), colors: ['#444', '#0a0', '#a00'], height: height %>
  </div>
  <div class='col-md-9'>
    <h4><%= link_to (image_tag @site.site_logo, size: "20"), @site.site_url %> Reports <small>daily, last <%= @months_string %></small></h4>
    <%= line_chart reports_graph_path(months: @months, site_id: @site.id), colors: ['#444', '#0a0', '#a00'], height: height, library: {'tooltip' => {'shared' => 'true'} }, legend: false %>
  </div>
</div>
<div class="row">
  <div class='col-md-5'>
    <%= pie_chart reason_counts_graph_path(months: @months, site_id: @site.id), height: height %>
  </div>
  <div class='col-md-7'>
    <h4><%= link_to (image_tag @site.site_logo, size: "20"), @site.site_url %> Time to deletion <small>daily, last <%= @months_string %></small></h4>
    <%= line_chart monthly_ttd_graph_path(months: @months, site_id: @site.id), colors: ['#444'], height: height %>
  </div>
</div>

<h4 class='text-center'>All Time Summary and Posts</h4>
<table class="table">
  <tr>
    <th><b>Posts Caught:</b></th>
    <th><b>True Positives:</b></th>
    <th><b>False Positives:</b></th>
    <th><b>Non-answers:</b></th>
    <th><b>Autoflagged (total):</b></th>
    <th><b>Autoflagged False Positives:</b></th>
  </tr>
  <tr>
    <td class="text-info"><%= @all_posts.count %></td>
    <td class="text-success"><%= @all_posts.where(is_tp:true).count %></td>
    <td class="text-danger"><%= @all_posts.where(is_fp:true).count %></td>
    <td class="text-warning"><%= @all_posts.where(is_naa:true).count %></td>
    <td class="text-success"><%= @all_posts.where(autoflagged:true).count %></td>
    <td class="text-danger"><%= @all_posts.where(autoflagged:true, is_fp: true).count %></td>
  </tr>
</table>

<ul class="nav nav-tabs">
  <% @tabs.each do |tab, posts| %>
  <li class="<%= "active" if tab.downcase == @active_tab %>">
    <%= link_to "#{tab} (#{posts.count})", site_dash_path(params.permit(:site_id, :months).to_h.merge(tab: tab.downcase)) %>
  </li>
  <% end %>
</ul>

<% if @posts.count == 0 %>
  <p>No spam here! Try another filter.</p>
<% else %>
  <table class="table">
    <% @posts.each do |p| %>
      <%= render 'posts/post', post: p, creation_date: true, deletion_date: true %>
    <% end %>
  </table>
<% end %>
