<h3><%= link_to (image_tag @site.site_logo, size: "20"), @site.site_url %> <%= @site.site_name %>: Dashboard</h3>
<% graph_months = params[:months].to_i || 3 %>
<div class="filters">
  <%= form_tag :site_dash, method: :get, class: 'form-inline' do %>
    Data from site:
    <%= select_tag :site_id, options_from_collection_for_select(Site.mains.order(site_name: :asc), 'id', 'site_name', params[:site_id]), class: 'form-control' %>
    over the last
    <%= number_field_tag :months, graph_months, min: 0, class: 'form-control' %>
    months
    <%= hidden_field_tag :tab, params[:tab] %>
    <%= submit_tag 'Apply', class: 'btn btn-primary' %>
  <% end %>
</div>

<p>
  There have been <strong><%= @flags.count %> attempts</strong> to cast flags automatically on <%= @site.site_name %>.<br/>
  <strong><%= @flags.successful.count %></strong> successful and <strong><%= @flags.failed.count %></strong> failed;
  <strong><%= @flags.successful.tp.count %></strong> (<%= ((@flags.successful.tp.count.to_f / @flags.successful.count) * 100).round(2) %>%) TP and
  <strong><%= @flags.successful.fp.count %></strong> (<%= ((@flags.successful.fp.count.to_f / @flags.successful.count) * 100).round(2) %>%) FP.
</p>

<h4 class='text-center'>All Time Totals</h4>
<table class="table">
  <tr>
    <th><b>Posts Caught:</b></th>
    <th><b>True Positives:</b></th>
    <th><b>False Positives:</b></th>
    <th><b>Non-answers:</b></th>
    <th><b>Autoflagged (total):</b></th>
    <th><b>Autoflagged False Positives:</b></th>
  </tr>
  <tr>
    <td class="text-info"><%= @all_posts.count %></td>
    <td class="text-success"><%= @all_posts.where(is_tp:true).count %></td>
    <td class="text-danger"><%= @all_posts.where(is_fp:true).count %></td>
    <td class="text-warning"><%= @all_posts.where(is_naa:true).count %></td>
    <td class="text-success"><%= @all_posts.where(autoflagged:true).count %></td>
    <td class="text-danger"><%= @all_posts.where(autoflagged:true, is_fp: true).count %></td>
  </tr>
</table>
<div class="row">
  <div class="col-md-3">
    <div style='height:170px'>
      <%= pie_chart report_counts_graph_path(months: graph_months, site_id: params[:site_id]), colors: ['#444', '#0a0', '#a00'], height: '170px' %>
    </div>
    <div style='height:170px'>
      <%= pie_chart reason_counts_graph_path(months: graph_months, site_id: params[:site_id]), colors: ['#444', '#0a0', '#a00'], height: '170px' %>
    </div>
  </div>
  <div class="col-md-5">
    <h4><%= link_to (image_tag @site.site_logo, size: "20"), @site.site_url %> Reports <small>daily, last <%= graph_months == 1 ? 'month' : "#{graph_months} months" %></small></h4>
    <%= line_chart reports_graph_path(months: graph_months, site_id: params[:site_id]), colors: ['#444', '#0a0', '#a00'] %>
  </div>
  <div class="col-md-4">
    <h4><%= link_to (image_tag @site.site_logo, size: "20"), @site.site_url %> Time to deletion <small>daily, last <%= graph_months == 1 ? 'month' : "#{graph_months} months" %></small></h4>
    <%= line_chart monthly_ttd_graph_path(months: graph_months, site_id: params[:site_id]), colors: ['#444'] %>
  </div>
</div>
<ul class="nav nav-tabs">
  <li class="<%= "active" if params[:tab].to_s.empty? %>">
    <%= link_to "All", tab(nil) %>
  </li>
  <li class="<%= "active" if params[:tab] == 'autoflagged' %>">
    <%= link_to "Autoflagged", tab('autoflagged') %>
  </li>
  <li class="<%= 'active' if params[:tab] == 'deleted' %>">
    <%= link_to "Deleted", tab('deleted') %>
  </li>
  <li class="<%= 'active' if params[:tab] == 'undeleted' %>">
    <%= link_to "Undeleted", tab('undeleted') %>
  </li>
</ul>

<% if @posts.count == 0 %>
  <p>No spam here! Try another filter.</p>
<% else %>
  <table class="table">
    <% @posts.each do |p| %>
      <%= render 'posts/post', post: p %>
    <% end %>
  </table>
<% end %>
