<h1>
  Review <%= @queue.name.titleize %>
  <small>
    &middot;
    <%= link_to 'History', review_history_path(name: @queue.name) %>
  </small>
</h1>
<p><%= @queue.description %></p>

<% if @queue.name == 'posts' %>
  <div>
    <form class="form-inline">
      <%= label_tag :site_id, 'Site' %>
      <% h = HTMLEntities.new %>
      <% sites_with_counts = Site.left_joins(:posts => [:review_item]).where(posts: { review_items: { completed: [false, nil] } }).group('sites.id').select('sites.*, COUNT(review_items.id) as review_item_count') %>
      <%= select_tag :site_id, options_for_select(sites_with_counts.map { |s| ["#{h.decode(s.site_name)} (#{s.review_item_count})", s.id] }), include_blank: true,
                     class: 'form-control review-filter selectpicker' %>
      <button type="button" class="btn btn-primary" id="filter-button">Filter</button>
    </form>
  </div><br/>

  <style>
    .review-filter {
        max-width: 200px;
    }
  </style>
<% end %>

<div class="review-item-container">
  <% if @item %>
    <%= render "#{@item.reviewable_type.underscore.pluralize}/review_item.html.erb", queue: @queue, item: @item, layout: nil %>
  <% else %>
    Loading...
  <% end %>
</div>
