<h1>Review history for <%= @queue.name.titleize %> </h1>

<% if current_user&.has_role?(:developer) %>
  <p>
    <%= link_to 'Recheck items', recheck_queue_items_path(name: @queue.name), class: 'text-danger', method: :post %>
  </p>
<% end %>

<ul class="nav nav-tabs">
  <li class="<%= 'active' if @all %>"><%= link_to 'All', all: 1 %></li>
  <li class="<%= 'active' unless @all %>"><%= link_to 'Mine', all: 0 %></li>
</ul>

<table class="table">
  <tr>
    <th class="text-muted">Item ID</th>
    <th class="text-muted">Review ID</th>
    <% if @all %> <th>User</th> <% end %>
    <th>Task</th>
    <th>Result</th>
  </tr>

  <% @reviews.each do |review| %>
    <tr>
      <td class="text-muted"><%= review.item.id %></td>
      <td class="text-muted"><%= review.id %></td>
      <% if @all %> <td><%= review.user.username %></td> <% end %>
      <td><%= link_to review.item.reviewable.review_item_name, review_item_path(@queue.name, review.item) %></td>
      <td><%= review.result %></td>
    </tr>
  <% end %>
</table>

<div class="text-center">
  <%= will_paginate @reviews, renderer: BootstrapPagination::Rails %>
</div>
