<h1>Review history for <%= @queue.name.titleize %> </h1>

<% if current_user&.has_role?(:developer) %>
  <p>
    <%= link_to 'Recheck items', recheck_queue_items_path(name: @queue.name), class: 'text-danger', method: :post %>
  </p>
<% end %>

<ul class="nav nav-tabs">
  <li class="<%= 'active' if @all %>"><%= link_to 'All', all: 1 %></li>
  <li class="<%= 'active' unless @all %>"><%= link_to 'Mine', all: 0 %></li>
</ul>

<% if @all %>
  <%= form_tag review_history_path(name: @queue.name), method: :get, class: 'form-inline top-filters' do %>
    <%= hidden_field_tag :all, '1' %>
    <%= label_tag :user %>
    <%= select_tag :user, options_from_collection_for_select(User.all, 'id', 'username', selected: params[:user]),
                   include_blank: true, class: 'form-control input-sm' %>
    <%= label_tag :response %>
    <%= select_tag :response, options_for_select(@queue.responses + [['Skip', 'skip']], selected: params[:response]),
                   include_blank: true, class: 'form-control input-sm' %>
    <%= label_tag :role %>
    <%= select_tag :role, options_for_select(Role.names.map { |r| [r.to_s.humanize, r] }, selected: params[:role]),
                   include_blank: true, class: 'form-control input-sm' %>
    <%= submit_tag 'Filter', class: 'btn btn-primary btn-sm' %>
  <% end %>
<% end %>


<table class="table">
  <tr>
    <th class="text-muted">Item ID</th>
    <th class="text-muted">Review ID</th>
    <% if @all %> <th>User</th> <% end %>
    <th>Task</th>
    <th>Timestamp</th>
    <th>Result</th>
    <% if current_user&.has_role?(:admin) %>
      <th></th>
    <% end %>
  </tr>

  <% @reviews.each do |review| %>
    <tr>
      <td class="text-muted"><%= review.item.id %></td>
      <td class="text-muted"><%= review.id %></td>
      <% if @all %> <td><%= review.user&.username || '(deleted user) %></td> <% end %>
      <td><%= link_to review.item.reviewable&.review_item_name || '(deleted record)', review_item_path(@queue.name, review.item) %></td>
      <td><span title="<%= review.created_at %>"><%= time_ago_in_words(review.created_at) %> ago</span></td>
      <td><%= review.result %></td>
      <% if current_user&.has_role?(:admin) %>
        <td><%= link_to 'Delete', delete_review_path(name: @queue.name, id: review.id), class: 'text-danger', method: :delete %></td>
      <% end %>
    </tr>
  <% end %>
</table>

<div class="text-center">
  <%= will_paginate @reviews, renderer: BootstrapPagination::Rails %>
</div>
