<h2>Account Settings</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <% if resource.errors.any? %><div class="alert alert-danger"><%= devise_error_messages! %></div><% end %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, class: 'form-control' %>
  </div><br/>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div><br/>
  <% end %>

  <div class="field">
    <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
    <%= f.password_field :password, autocomplete: "off", class: 'form-control' %>
  </div><br/>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off", class: 'form-control' %>
  </div><br/>

  <div class="field">
    <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
    <%= f.password_field :current_password, autocomplete: "off", class: 'form-control' %>
  </div><br/>

  <div class="actions">
    <%= f.submit "Update", class: 'btn btn-primary' %>
  </div>
<% end %>

<% if /\d+@se-oauth\.metasmoke/.match?(current_user.email) %>
  <h3>No password? No problem!</h3>
  <%= form_tag url_for(controller: '/users', action: :update_email) do %>
    <div class="field">
      <%= label_tag :email %><br/>
      <%= email_field_tag :email, nil, class: 'form-control' %>
    </div><br/>
    <div class="actions">
      <%= submit_tag 'Save', class: 'btn btn-success' %>
    </div>
  <% end %>
<% end %>

<h3>Two-factor authentication</h3>
<p><%= link_to 'Configure two-factor authentication', url_for(controller: '/users', action: :tf_status) %></p>

<h3>Announcement emails</h3>
<%= form_tag url_for(controller: '/users', action: :set_announcement_emails) do %>
  <div class="field">
    <%= check_box_tag :emails, nil, current_user.announcement_emails %> <%= label_tag :emails, "Send me emails about new announcements" %>
  </div><br/>

  <div class="actions">
    <%= submit_tag "Save", class: 'btn btn-success' %>
  </div>
<% end %>

<h3>Cancel my account</h3>
<p>Unhappy? You can delete your metasmoke account by clicking this button.
  <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: 'btn btn-danger' %></p>

<%= link_to "Back", :back %>
