<%= form_tag search_path, method: "get" do |f| %>
  <div class="form-group">
    <%= label_tag :title %>
    <%= text_field_tag :title, params[:title], placeholder: "*", class: "form-control" %>
  </div>
  <div class="form-group">
    <%= label_tag :body %>
    <%= text_field_tag :body, params[:body], placeholder: "*", class: "form-control" %>
  </div>
  <div class="form-group">
    <%= label_tag :username %>
    <%= text_field_tag :username, params[:username], placeholder: "*", class: "form-control" %>
  </div>
  <div class="form-group">
    <%= label_tag :why %>
    <%= text_field_tag :why, params[:why], placeholder: "*", class: "form-control" %>
  </div>
  <div class="form-group">
    <%= label_tag :site %>
    <%= select_tag :site, options_for_select(Site.select(:site_name, :id).all.map {|s| [s.site_name, s.id] }, params[:site]), class: "form-control", include_blank: "All" %>
  </div>

  <div class="form-group">
    <%= label_tag :feedback %>
    <%= select_tag :feedback, options_for_select(["true positive", "false positive", "NAA", "conflicted"], params[:feedback]), class: "form-control", include_blank: "All" %>
  </div>

  <div class="form-group">
    <%= label_tag :reason %>
    <%= select_tag :reason, options_from_collection_for_select(Reason.all.order(:reason_name), "id", "reason_name", params[:reason]), class: "form-control", include_blank: "All" %>
  </div>

  <div class="form-group">
    <%= label_tag :user_reputation %>
    <div class="form-group row">
      <div class="col-md-1">
        <%= select_tag :user_rep_direction, options_for_select(["==", "<=", ">="], params[:user_rep_direction] || ">="), class: "form-control" %>
      </div>

      <div class="col-md-1">
        <%= text_field_tag :user_reputation, params[:user_reputation] || "0", class: "form-control" %>
      </div>
    </div>
  </div>

  <%= hidden_field_tag :option, params[:option] if params[:option] == 'graphs' %>

  <%= submit_tag "Search", class: "btn btn-primary" %>
<% end %>

<br />

<% if @results.present? %>
  <ul class="nav nav-tabs">
    <li role="presentation" class="<%= "active" if params[:option].nil? %>"><%= link_to "Results", search_path(request.query_parameters.merge({:option => nil})) %></li>
    <li role="presentation" class="<%= "active" if params[:option] == "graphs" %>"><%= link_to "Graphs", search_path(request.query_parameters.merge({:option => "graphs"})) %></li>
  </ul>

  <% if params[:option].nil? %>
    <table class="table">
      <% @results.each do |post| %>
        <%= render "posts/post", :post => post %>
      <% end %>
    </table>
    <div class="text-center">
      <%= will_paginate @results, renderer: BootstrapPagination::Rails %>
      <p class="text-muted">
        <%= link_to "JSON (still subject to paging limits)", search_path(params: request.query_parameters, :format => :json) %>
      </p>
    </div>
  <% else %>
    <% h = HTMLEntities.new %>
    <%= pie_chart @results.group(:site).count.map{ |k,v| {(k.nil? ? "Unknown" : h.decode(k.site_name))=>v} }.reduce(:merge).select{|k,v| k != "Unknown"}.sort_by {|k,v| v}.reverse %>

    <%= line_chart [{name: "True positives", data: @results.where(:is_tp => true).group_by_day(:created_at, range: 1.month.ago..Time.now).count}, {name: "False positives", data: @results.where(:is_fp => true).group_by_day(:created_at, range: 1.month.ago..Time.now).count}], colors: ["green", "red"], library: {"tooltip" => {'shared' => 'true'} } %>
  <% end %>
<% end %>
