<% if comment.user.id == -1 %>
  <div class="panel panel-info">
    <div class="panel-heading">
      <%= raw(sanitize(PostCommentsController.renderer.render(comment.text), scrubber: PostComment.scrubber)) %>
      <span class="small text-muted"><%= time_ago_in_words comment.created_at %> ago</span>
    </div>
  </div>
<% else %>
  <div class="panel panel-default abuse-comment" data-cid="<%= comment.id %>">
    <div class="panel-heading">
      <strong><%= comment.user.username %></strong>
      <span title="<%= comment.created_at %>"><%= time_ago_in_words comment.created_at %> ago</span>
      <% if current_user == comment.user || current_user&.has_role?(:core) %>
        <span class="comment-control">
          <a href="#" class="comment-edit"><span class="glyphicon glyphicon-pencil"></span></a>
        </span>
        <span class="comment-control">
        <%= link_to delete_abuse_comment_path(comment.id), method: :delete do %>
          <span class="glyphicon glyphicon-remove"></span>
        <% end %>
        </span>
      <% end %>
    </div>
    <div class="panel-body">
      <%= raw(sanitize(PostCommentsController.renderer.render(comment.text), scrubber: PostComment.scrubber)) %>
    </div>
  </div>
<% end %>
