<% title 'Graphs' %>

<h3 id="reports-by-hour">Reports by hour</h3>
<br />

<%= line_chart url_for(:controller => :graphs, :action => :reports_by_hour), colors: ["#999", "green", "red"], library: {"tooltip" => {'shared' => 'true'} } %>

<h3 id="reports-by-site">Reports by site</h3>
        (<%= link_to "Last month", graphs_path, style: params[:timeframe].nil? ? "font-weight:bold" : "" %>
        |
        <%= link_to "All time", graphs_path(timeframe: "all"), style: params[:timeframe].present? ? "font-weight:bold" : ""%>)
<br />
<br />

<% h = HTMLEntities.new %>
<%= pie_chart url_for(:controller => :graphs, :action => :reports_by_site, :timeframe => params[:timeframe]) %>

<h3 id="by-hour-of-day">Reports by hour of day</h3>
        (<%= link_to "Last month", graphs_path, style: params[:timeframe].nil? ? "font-weight:bold" : "" %>
        |
        <%= link_to "All time", graphs_path(timeframe: "all"), style: params[:timeframe].present? ? "font-weight:bold" : ""%>)
<br />
<br />

<% t = Time.now %>
<%= line_chart url_for(:controller => :graphs, :action => :reports_by_hour_of_day, :timeframe => params[:timeframe]), discrete: true,
               library: {"tooltip" => {'shared' => 'true'}, "xAxis": { "plotLines" => [{"width" => '2', :value => "#{t.hour + t.min.to_f / 60.to_f}", :color => 'blue', :dashStyle => "dot" }]}},
               colors: ["#999", "green", "red"] %>

<br />
<br />

<h3 id="time-to-deletion">Time to deletion</h3>
<p class="text-muted">tp posts only, same scale as above</p>
<%= line_chart url_for(:controller => :graphs, :action => :time_to_deletion),
               library: { "xAxis": { "plotLines" => [{"width" => '2', :value => "#{t.hour + t.min.to_f / 60.to_f}", :color => 'blue', :dashStyle => "dot" }]}} %>

<h3 id="autoflagging-time-to-deletion">Autoflagging: time to deletion</h3>
<%= line_chart url_for(:controller => :graphs, :action => :detailed_ttd),
               library: { "xAxis": { "labels": { "enabled": false }, "plotLines" => [{"width" => '2', :value => "#{t.hour + t.min.to_f / 60.to_f}", :color => 'blue', :dashStyle => "dot" }]}} %>
