<h3>Reports by hour</h3>
<br />

<%= line_chart [{name: "All", data: Post.group_by_hour(:created_at, range: 1.week.ago.to_date..Time.now).count}, {name: "True positives", data: Post.where(:is_tp => true).group_by_hour(:created_at, range: 1.week.ago.to_date..Time.now).count}, {name: "False positives", data: Post.where(:is_fp => true).group_by_hour(:created_at, range: 1.week.ago.to_date..Time.now).count}], colors: ["#999", "green", "red"], library: {"tooltip" => {'shared' => 'true'} } %>

<h3>Reports by site</h3>
        (<%= link_to "Last month", graphs_path, style: params[:timeframe].nil? ? "font-weight:bold" : "" %>
        |
        <%= link_to "All time", graphs_path(timeframe: "all"), style: params[:timeframe].present? ? "font-weight:bold" : ""%>)
<br />
<br />

<% h = HTMLEntities.new %>
<%= pie_chart @posts.group(:site).count.map{ |k,v| {(k.nil? ? "Unknown" : h.decode(k.site_name))=>v} }.reduce(:merge).select{|k,v| k != "Unknown"}.sort_by {|k,v| v}.reverse %>

<h3>Reports by hour of day</h3>
        (<%= link_to "Last month", graphs_path, style: params[:timeframe].nil? ? "font-weight:bold" : "" %>
        |
        <%= link_to "All time", graphs_path(timeframe: "all"), style: params[:timeframe].present? ? "font-weight:bold" : ""%>)
<br />
<br />

<% t = Time.now %>
<% number_of_days = (DateTime.now - @posts.minimum(:created_at).to_date).to_i %>

<% all_posts = @posts.group_by_hour_of_day(:created_at).count.map{ |k,v| [k, (v.to_f / number_of_days).round(2)] }.to_h %>
<% tp_posts = @posts.where(:is_tp => true).group_by_hour_of_day(:created_at).count.map{ |k,v| [k, (v.to_f / number_of_days).round(2)] }.to_h %>
<% fp_posts = @posts.where(:is_fp => true).group_by_hour_of_day(:created_at).count.map{ |k,v| [k, (v.to_f / number_of_days).round(2)] }.to_h %>

<%= line_chart [{name: "All", data: @posts.group_by_hour_of_day(:created_at).count.map{ |k,v| [k, (v.to_f / number_of_days).round(2)] }.to_h}, {name: "True positives", data: tp_posts}, {name: "False positives", data: fp_posts} ], discrete: true, library: {"xAxis": { "plotLines" => [{"width" => '2', :value => "#{t.hour + t.min.to_f / 60.to_f}", :color => 'grey'}] } }, colors: ["#999", "green", "red"], library: {"tooltip" => {'shared' => 'true'} } %>
