<h3>Feedback via API</h3>

<table class="table table-striped sortable-table">
  <thead>
    <tr>
      <th>Owner</th>
      <th>Type</th>
      <th>Post</th>
      <th>Application</th>
      <th>Created</th>
    </tr>
  </thead>
  <tbody>
    <% @feedback.each do |f| %>
      <tr>
        <td>
          <% if f.user.present? %>
            <%= f.user.username %>
          <% else %>
            <em>Nobody. Um.</em>
          <% end %>
        </td>
        <td class="<%= element_class_for_feedback f %>"><%= f.feedback_type %></td>
        <td><%= link_to truncate(f.post.title, :length => 50, :separator => ' '), "/post/" + f.post_id.to_s %></td>
        <td><%= f.api_key.app_name %></td>
        <td><%= time_ago_in_words(f.created_at) %> ago</td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="text-center">
  <%= paginate @feedback, :theme => 'twitter-bootstrap-3' %>
</div>
