<h3>Ignored Users</h3>
<p>This is <em>not</em> a list of ignored users. It's a list of ignored user <em>records</em> - look at the Ignored?
  column to determine who's currently being ignored.</p>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Chat Username</th>
      <th>MS Username</th>
      <th>Created</th>
      <th>Ignored?</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @ignored_users.each do |ignored| %>
      <tr>
        <td><%= ignored.user_name %></td>
        <td><%= ignored.user.username if ignored.user %></td>
        <td><%= ignored.created_at %></td>
        <td><%= ignored.is_ignored ? "Yes" : "No" %></td>
        <td>
          <% if ignored.is_ignored %>
            <%= link_to "Unignore", url_for(:controller => :admin, :action => :unignore, :id => ignored.id), :method => :patch %>
          <% else %>
            <%= link_to "Ignore", url_for(:controller => :admin, :action => :ignore, :id => ignored.id), :method => :patch %>
          <% end %>
        </td>
        <td><%= link_to "Destroy", url_for(:controller => :admin, :action => :destroy_ignored, :id => ignored.id), :method => :delete %></td>
      </tr>
    <% end %>
  </tbody>
</table>
