<h3>User permissions</h3>

<%= form_tag admin_permissions_path, method: :get, class: 'form-inline' do %>
  <%= label_tag :username, 'Username filter:' %>
  <%= text_field_tag :username, params[:username], class: 'form-control' %>
  <%= submit_tag 'Filter', class: 'btn btn-sm btn-primary' %>
<% end %><br/>

<table class="table">
  <tr>
    <th>Id</th>
    <th>User</th>
    <% @roles.map {|r| r.to_s.humanize.titlecase }.each do |role_name| %>
      <th><%= role_name %></th>
    <% end %>
  <tr>

  <% @users.each do |user| %>
    <tr>
      <td><%= user.id %></td>
      <td><%= sanitize user.username %></td>
      <% @roles.each do |role| %>
        <td>
          <label class="permissions-checkbox-label">
            <%= check_box_tag "#{user.id}[#{role.to_s}]", 'foo', user.has_cached_role?(role),
                              disabled: (role == :developer and not user.has_cached_role?(role)),
                              class: "permissions-checkbox", data: {:user_id => user.id, :role => role.to_s } %>
            <% if role.to_sym == :core %>
              <%= check_box_tag "#{user.id}[#{role.to_s}]", 'foo', user.has_pinned_role?(role),
                                disabled: (role == :developer and not user.has_cached_role?(role)),
                                class: "pin-checkbox", data: {:user_id => user.id, :role => role.to_s } %>
            <% end %>
          </label>
        </td>
      <% end %>
    </tr>
  <% end %>
</table>

<div class="text-center">
  <%= will_paginate @users, renderer: BootstrapPagination::Rails %>
</div>
