<h3>Recently Invalidated Feedback</h3>

<table class="table table-striped sortable-table">
  <thead>
    <tr>
      <th>Post</th>
      <th>Feedback Type</th>
      <th>Feedback Creator</th>
      <th>Invalidated At</th>
      <th>Invalidated By</th>
    </tr>
  </thead>
  <tbody>
    <% @feedbacks.each do |f| %>
      <tr>
        <td><a href="/post/<%= f.post_id %>"><%= f.title %></a></td>
        <td><%= f.feedback_type %></td>
        <td>
          <% if f.user_id %>
            <a href="/admin/user_feedback?user_id=<%= f.user_id %>"><%= f.user.username %></a>
          <% elsif f.user.try(:email) %>
            (From Review)
          <% elsif f.chat_user_id %>
            (Chat: <%= f.chat_host %>/<%= f.chat_user_id %>)
          <% end %>
        </td>
        <td><%= time_ago_in_words(f.invalidated_at) + " ago" if f.invalidated_at %></td>
        <% user = @users[f.invalidated_by] if f.invalidated_by %></td>
        <td><%= user.username || user.email if user %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="text-center">
  <%= paginate @feedbacks, :theme => 'twitter-bootstrap-3' %>
</div>
