<h3>Users</h3>
<p class="text-muted">
  A list of all user accounts on the site, with useful links about them and their content.
</p>

<%= form_tag users_path, class: 'form-inline', method: :get do %>
  <%= label_tag :filter, 'Username filter:' %>
  <%= text_field_tag :filter, params[:filter], class: 'form-control input-sm' %>
  <%= submit_tag 'Filter', class: 'btn btn-primary btn-sm' %>
<% end %>
<table class="table table-striped sortable-table">
  <thead>
    <tr>
      <th>ID</th>
      <th>Username</th>
      <th>Roles</th>
      <th class="no-sort"></th>
      <% if current_user&.has_role?(:developer) %>
        <th colspan="2"></th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.id %></td>
        <td><%= link_to_if user.stack_exchange_account_id.present?, sanitize(user.username), "//stackexchange.com/users/#{user.stack_exchange_account_id}" %></td>
        <td><%= user.roles.map(&:name).map{|n| n.humanize.downcase}.to_sentence.capitalize %></td>
        <td><%= link_to "Feedback", admin_user_feedback_path(:user_id => user.id) %></td>
        <% if current_user&.has_role?(:developer) %>
          <td><%= link_to 'Developer', user_path(user) %></td>
          <td><%= link_to 'Impersonate', impersonate_path(user), method: :post, class: 'text-warning' %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="text-center">
  <%= will_paginate @users, renderer: BootstrapPagination::Rails %>
</div>
