<h3>User Feedback for <%= @user.username %></h3>

<p>
  <strong><%= @feedback_count %></strong>
  feedbacks,
  <strong><%= @invalid_count %></strong>
  invalidated
  (<strong><%= ((@invalid_count.to_f / @feedback_count.to_f) * 100).round(2) %>%</strong> invalid)
</p>

<p class="text-muted">This data includes feedback from <%= @sources.to_sentence %></p>

<table class="table table-striped sortable-table">
  <thead>
    <tr>
      <th>Post</th>
      <th>Feedback Type</th>
      <th>Invalidated</th>
      <th>Created</th>
    </tr>
  </thead>
  <tbody>
    <% @feedback.each do |f| %>
      <tr class="<%= "danger" if f.invalidated_at %>">
        <td><a href="/post/<%= f.post_id %>"><%= f.title %></a></td>
        <td class="<%= f.element_class %>"><%= f.feedback_type %></td>
        <td><%= f.invalidated_at ? "Yes" : "No" %></td>
        <td><%= time_ago_in_words(f.created_at) + " ago" if f.created_at.present? %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="text-center">
  <%= will_paginate @feedback, renderer: BootstrapPagination::Rails %>
</div>
