<h3>Users</h3>
<p class="text-muted">
  A list of all user accounts on the site, with useful links about them and their content.
</p>

<%= form_tag users_path, class: 'form-inline', method: :get do %>
  <%= label_tag :filter, 'Username filter:' %>
  <%= text_field_tag :filter, params[:filter], class: 'form-control input-sm' %>
  <%= submit_tag 'Filter', class: 'btn btn-primary btn-sm' %>
<% end %>
<table class="table table-striped sortable-table">
  <thead>
    <tr>
      <th>ID</th>
      <th>Username</th>
      <% if current_user&.has_role?(:admin) %>
        <% @roles.map {|r| r.to_s.humanize.titlecase }.each do |role_name| %>
          <th><%= role_name %></th>
        <% end %>
      <% else %>
        <th>Roles</th>
      <% end %>
      <th class="no-sort"></th>
      <% if current_user&.has_role?(:developer) %>
        <th colspan="3" class="no-sort"></th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.id %></td>
        <td><%= link_to_if user.stack_exchange_account_id.present?, sanitize(user.username), "//stackexchange.com/users/#{user.stack_exchange_account_id}" %></td>
        <% if current_user&.has_role?(:admin) %>
          <%= render partial: 'roles_admin', locals: {roles: @roles, user: user} %>
        <% else %>
          <td><%= user.roles.map(&:name).map{|n| n.humanize.downcase}.to_sentence.capitalize %></td>
        <% end %>
        <td><%= link_to 'Feedback', admin_user_feedback_path(user_id: user.id) %></td>
        <% if current_user&.has_role?(:developer) %>
          <td>
            <%= link_to 'Developer', dev_user_path(user) %>
            (<%= link_to 'Logs', redis_log_by_user_path(user) %>)
          </td>
          <td><%= link_to 'Impersonate', impersonate_path(user), method: :post, class: 'text-warning' %></td>
          <td><%= link_to 'Nuke', 'javascript:void(0);', class: 'text-danger nuke-user-link', data: { user_id: user.id, username: user.username } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="text-center">
  <%= will_paginate @users, renderer: BootstrapPagination::Rails %>
</div>
