<% exclude_save = false if exclude_save.nil? %>

<%= form_for @condition do |f| %>
  <div class="field">
    <%= f.check_box :flags_enabled %> <%= f.label :flags_enabled %>
  </div><br/>

  <div class="field">
    <%= f.label :min_weight, "Minimum Weight" %><br/>
    <%= f.number_field :min_weight, class: "form-control" %>
  </div><br/>

  <div class="field">
    <%= f.label :max_poster_rep, "Maximum Poster Reputation" %><br/>
    <%= f.number_field :max_poster_rep, class: "form-control" %>
  </div><br/>

  <div class="field">
    <%= f.label :min_reason_count, "Minimum Reason Count" %><br/>
    <%= f.number_field :min_reason_count, class: "form-control" %>
  </div><br/>

  <div class="field">
    <%= f.label :sites %><br/>
    <%= f.select :sites, options_for_select(Site.mains.map{ |s| [s.site_name, s.id] }, @condition.site_ids), {}, { multiple: true, class: "form-control selectpicker", 'data-live-search' => true, 'data-actions-box' => true, 'data-dropup-auto' => false, title: "Choose the sites this condition should apply to" } %>
  </div>

  <br/>

  <% if (@condition.user || current_user).moderator_sites.any? %>
    <p class="text-muted">
      We won't cast flags on any sites where you're a moderator, regardless of your settings here. That'd be these sites:
      <ul>
        <% (@condition.user || current_user).moderator_sites.each do |ms| %>
          <li class="text text-muted"><%= ms.site.site_name %></li>
        <% end %>
      </ul>
    </p>
  <% end %>

  <br/>

  <div class="actions">
    <%= f.submit "Preview", type: 'button', class: "btn btn-primary preview-flag-conditions-button", name: "preview" %>
    <% unless exclude_save %>
      <%= f.submit "Save", class: "btn btn-success" %>
    <% end %>
  </div>
<% end %>

<br />

<div class="flag-condition-preview">
  <%= render "preview" %>
</div>
