<% exclude_save = false if exclude_save.nil? %>

<%= form_for @condition do |f| %>
  <div class="field">
    <%= f.label :min_weight, "Minimum Weight" %><br/>
    <%= f.number_field :min_weight, :class => "form-control" %>
  </div><br/>

  <div class="field">
    <%= f.label :max_poster_rep, "Maximum Poster Reputation" %><br/>
    <%= f.number_field :max_poster_rep, :class => "form-control" %>
  </div><br/>

  <div class="field">
    <%= f.label :min_reason_count, "Minimum Reason Count" %><br/>
    <%= f.number_field :min_reason_count, :class => "form-control" %>
  </div><br/>

  <div class="field">
    <%= f.label :sites %> <em>(the sites this condition applies to)</em><br/>
    <%= f.select :sites, options_for_select(Site.mains.map{ |s| [s.site_name, s.id] }, @condition.site_ids), {}, { :multiple => true, :class => "form-control" } %>
  </div><br/>

  <div class="actions">
    <%= f.submit "Preview", :type => 'button', :class => "btn btn-primary", :id => "preview-flag-conditions-button", :name => "preview" %>
    <% unless exclude_save %>
      <%= f.submit "Save", :class => "btn btn-success" %>
    <% end %>
  </div>
<% end %>

<br />

<div class="flag-condition-preview">
  <%= render "preview" %>
</div>
