<h3>All Flagging Conditions</h3>

<table class="table table-striped">
  <thead>
    <tr>
      <th class="text-muted">ID</th>
      <th>Owner</th>
      <th>Minimum Weight</th>
      <th>Maximum Poster Rep</th>
      <th>Minimum Reason Count</th>
      <th colspan="2"></th>
    </tr>
  </thead>
  <tbody>
    <% @conditions.each do |condition| %>
      <tr>
        <td class="text-muted"><%= condition.id %></td>
        <td><%= condition.user.try(:username) %></td>
        <td><%= condition.min_weight %></td>
        <td><%= condition.max_poster_rep %></td>
        <td><%= condition.min_reason_count %></td>
        <td><%= link_to "Edit", url_for(:controller => :flag_conditions, :action => :edit, :id => condition.id) %></td>
        <td><%= link_to "Delete", url_for(:controller => :flag_conditions, :action => :destroy, :id => condition.id),
                        :method => :delete, :data => { :confirm => "Are you sure?" }, :class => "text-danger" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
