<% if params[:action] == "full_list" %>
  <h3>All Flagging Conditions</h3>
<% else %>
  <h3>Your Flagging Conditions</h3>
  <p>These conditions are used to determine whether or not we can use your account to cast an automatic flag. This gives
    you control over what you're comfortable flagging; if you want 99.9999% accuracy, you can ensure that here.</p>
<% end %>

<% if @conditions.count > 0 %>
  <table class="table table-striped">
    <thead>
      <tr>
        <th class="text-muted">ID</th>
        <% if params[:action] == "full_list" %>
          <th>User</th>
        <% end %>
        <th>Enabled</th>
        <th>Minimum Weight</th>
        <th>Maximum Poster Rep</th>
        <th>Minimum Reason Count</th>
        <th>Sites</th>
        <th colspan="2"></th>
      </tr>
    </thead>
    <tbody>
      <% @conditions.each do |condition| %>
        <tr>
          <td class="text-muted"><%= condition.id %></td>
          <% if params[:action] == "full_list" %>
            <td><%= condition.user&.username %></td>
          <% end %>
          <td class="text-<%= condition.flags_enabled ? 'success' : 'danger' %>">
            <%= condition.flags_enabled ? 'Enabled' : 'Disabled' %>
            <% if params[:action] == 'index' %>
              <%= link_to condition.flags_enabled ? '(disable)' : '(enable)', flag_conditions_enable_path(condition.id), :method => :patch %>
            <% end %>
          </td>
          <td><%= condition.min_weight %></td>
          <td><%= condition.max_poster_rep %></td>
          <td><%= condition.min_reason_count %></td>
          <td><%= condition.sites.count %></td>
          <td><%= link_to "Edit", url_for(:controller => :flag_conditions, :action => :edit, :id => condition.id) %></td>
          <td><%= link_to "Delete", url_for(:controller => :flag_conditions, :action => :destroy, :id => condition.id),
                          :method => :delete, :data => { :confirm => "Are you sure?" }, :class => "text-danger" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p>You don't have any flagging conditions at the moment. To get started with autoflagging, create a new condition
    using the link below.</p>
<% end %>

<% unless params[:action] == "full_list" %>
  <% if FlagSetting['registration_enabled'] == '1' %>
    <%= link_to "New condition", url_for(:controller => :flag_conditions, :action => :new) %>
  <% else %>
    <p class="text-muted"><em>Registration for autoflagging is currently closed.</em></p>
  <% end %>
<% end %>
