<% with_app = false if with_app.nil? %>
<tr>
  <td>
    <%# As for why we need render_source, see metasmoke#510 - Devise doesn't like being rendered from a controller %>
    <% if (defined?(render_source) && render_source != :controller) && current_user&.has_role?(:admin) && log.user.present? %>
      <%= link_to log.user.try(:username), user_overview_path(user: log.user.try(:id)) %>
    <% else %>
      <%= log.user.try(:username) %>
    <% end %>
  </td>
  <%= render "posts/post", :post => log.post, :wrap_in_tr => false %>
  <% if with_app %>
    <td><%= log.api_key.present? ? log.api_key.app_name : 'MS Web UI' %></td>
  <% end %>
  <td class='<%= "success" if log.success %>' title="<%= log.error_message %>"><%= log.success ? "Success" : "Fail" %><%= " (dry run)" if log.is_dry_run %></td>
</tr>
