<h3>Flag logs</h3>

<table class="table">
  <tr>
    <th>User</th>
    <th>Post</th>
    <th>Result</th>
  </tr>

  <% @flag_logs.each do |log| %>
    <tr>
      <td><%= log.user.try(:username) %></td>
      <td><%= link_to log.post.title, "/post/#{log.post_id}" %></td>
      <td class='<%= "success" if log.success %>'><%= log.success ? "Success" : "Fail" %><%= " (dry run)" if log.is_dry_run %><%= " - #{log.error_message}" if log.error_message.present? %></td>
    </tr>
  <% end %>
</table>

<div class="text-center">
  <%= will_paginate @flag_logs, renderer: BootstrapPagination::Rails %>
</div>
