<h3>
  <%= title "Flag logs" %>
  <% if @individual_post.present? %>
    for <%= link_to @individual_post.title, "/post/#{@individual_post.id}" %>
  <% end %>
  <% if @individual_user.present? %>
    for <%= @individual_user.username %>
  <% end %>
</h3>

<% if @individual_post.nil? %>
  <%= line_chart [
        {name: 'Flags', data: @applicable_flag_logs.group_by_day("flag_logs.created_at", :range => 1.month.ago.to_date..Time.now).count},
        {name: 'Posts', data: @applicable_flag_logs.select('DISTINCT post_id').group_by_day("flag_logs.created_at", :range => 1.month.ago.to_date..Time.now).count}
      ], colors: ['#76ADE1', '#e0a976'] %>
<% end %>

<ul class="nav nav-tabs" role="tablist">
  <li class="<%= 'active' if params[:user_id].nil? and (params[:filter].nil? or params[:filter] == 'all') %>"><%= link_to "All", flag_logs_path %></li>
  <% if current_user %>
    <li class="<%= 'active' if params[:user_id].to_i == current_user.id %>"><%= link_to "Mine", flag_logs_by_user_path(:user_id => current_user.id) %></li>
  <% end %>
  <li class="<%= 'active' if params[:filter] == 'fps' %>"><%= link_to "False Positives", flag_logs_path(filter: 'fps') %></li>
</ul>

<table class="table">
  <tbody>
    <% @flag_logs.each do |log| %>
      <%= render 'flag_log', :log => log %>
    <% end %>
  </tbody>
</table>

<div class="text-center">
  <%= will_paginate @flag_logs, renderer: BootstrapPagination::Rails %>
</div>
