<p id="notice"><%= notice %></p>

<h3>Statistics for <%= @smoke_detector.location %></h3>

<ul class="nav nav-tabs">
  <li class="<%= 'active' if params[:range].nil? or params[:range] == 'hour' %>">
    <%= link_to "Hourly", smoke_detector_statistics_path(@smoke_detector, :range => "hour") %>
  </li>
  <li class="<%= 'active' if params[:range] == 'day' %>">
    <%= link_to "Daily", smoke_detector_statistics_path(@smoke_detector, :range => "day") %>
  </li>
</ul>
<br />

<% if params[:range] == 'day' %>
    <%= line_chart [
          {name: 'Posts scanned', data: @smoke_detector.statistics.group_by_day(:created_at, range: 3.weeks.ago.to_date..Time.now).sum(:posts_scanned)},
        ], colors: ['#76ADE1'] %>
  <% else %>
    <%= line_chart [
          {name: 'Posts scanned', data: @smoke_detector.statistics.group_by_hour(:created_at, range: 3.days.ago.to_date..Time.now).sum(:posts_scanned)},
          {name: 'Quota remaining', data:  @smoke_detector.statistics.where(:created_at => 3.days.ago.to_date..Time.now).where.not(:api_quota => -1).select(:created_at, :api_quota).map {|s| [s.created_at, s.api_quota]}.to_h}
        ], colors: ['#76ADE1', '#e0a976'] %>
<% end %>

<table class="table">
  <thead>
    <tr>
      <th>Posts scanned</th>
      <th>Post scan rate</th>
      <th>API quota</th>
      <th>At</th>
    </tr>
  </thead>

  <tbody>
    <% @statistics.each do |statistic| %>
      <tr>
        <td><%= statistic.posts_scanned %></td>
        <td><%= statistic.post_scan_rate %></td>
        <td><%= statistic.api_quota %></td>
        <td><%= time_ago_in_words statistic.created_at %> ago</td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="text-center">
  <%= will_paginate @statistics, renderer: BootstrapPagination::Rails %>
</div>
