<% feedback ||= comment.post.feedbacks.to_a.select { |f| f.user_id == comment.user_id }[0] %>
<div class="panel panel-primary post-comment" data-cid="<%= comment.id %>">
  <div class="panel-heading">
    <strong><%= comment.user&.username || '(unknown?)' %></strong>
    <% if feedback.present? && !@is_review_item %>
      <%= render 'feedbacks/feedback', feedback: feedback %>
    <% end %>
    <span title="<%= comment.created_at %>"><%= time_ago_in_words comment.created_at %> ago</span>
    <% if current_user == comment.user || current_user&.has_role?(:admin) %>
      <span class="comment-control">
        <a href="#" class="comment-edit"><span class="glyphicon glyphicon-pencil"></span></a>
      </span>
      <span class="comment-control">
        <%= link_to delete_comment_path(comment.id), method: :delete do %>
          <span class="glyphicon glyphicon-remove"></span>
        <% end %>
      </span>
    <% end %>
  </div>
  <div class="panel-body">
    <%= raw(sanitize(PostCommentsController.renderer.render(comment.text), scrubber: PostComment.scrubber)) %>
  </div>
</div>
