<h3>Your Authorized Apps</h3>
<p>Below is a list of apps that you have authorized to perform write operations on metasmoke on your behalf via the API.
  If you no longer want an app to be able to do this, click Revoke Access.</p>
<table class="table table-striped">
  <thead>
    <tr>
      <th>App Name</th>
      <th>Last Authorized</th>
      <th>Active Tokens</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @keys.each do |key| %>
      <tr>
        <td><%= key.app_name %></td>
        <td><%= ApiToken.where(:user => current_user, :api_key => key).last.created_at %></td>
        <td><%= ApiToken.where(:user => current_user, :api_key => key).count %></td>
        <td><%= link_to "Revoke Access", url_for(:controller => :users, :action => :revoke_app, :key_id => key.id), :method => :delete,
                :data => { :confirm => "Are you sure? If you want to use this app again, you will have to re-authenticate." }, :class => "text text-danger" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<h3>Available Apps</h3>
<p>This is a list of all apps that use the metasmoke API. Their authors may have provided a GitHub link for you to find
  out more about the app and decide if you want to use it.</p>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Author</th>
      <th>GitHub link</th>
    </tr>
  </thead>
  <tbody>
    <% ApiKey.all.each do |key| %>
      <tr>
        <td><%= key.app_name %></td>
        <td>
          <% if key.user %>
            <%= key.user.username %>
          <% else %>
            <em>(None recorded)</em>
          <% end %>
        </td>
        <td><%= link_to "Repo", key.github_link %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to "Apps you own/develop", url_for(:controller => :api_keys, :action => :mine) %>
