<%= form_tag graphql_path, method: :post do %>
  <div class='form-group'>
    <%= label_tag :query, "Query GraphQL:" %>
    <%= text_area_tag :query, '', class: 'form-control', placeholder: "Try out the new GraphQL interface!" %>
  </div>
  <%= submit_tag "Query!", class: 'btn btn-primary' %>
<% end %>

<h2>Here are some example queries:</h2>

<style>
.pre-scrollable {
  min-height: 340px;
}
</style>
<h4>Introspection:</h4>
<div class='row'>
<pre class='col-xs-6 pre-scrollable'><code class='json'><%= query = "{
  __type(name: \"Post\") {
    kind
    fields {
      name
      type {
        name
        kind
        ofType {
          name
          kind
        }
      }
    }
  }
}" %></code></pre>

<pre class='col-xs-6 pre-scrollable'><code class='json'><%= JSON.pretty_generate(MetasmokeSchema.execute(query).to_hash) %></pre></code>
</div>

<link rel="stylesheet"
      href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/default.min.css">
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>
<script>hljs.initHighlightingOnLoad();</script>
