<h3><%= title @reason.reason_name %> <span class="text-muted">(<%= @reason.weight %>)</span></h3>
<p class="text-muted">
  <%= @reason.description %><br/>
  <% if user_signed_in? %>
    <a href="#" data-toggle="modal" data-target="#description-modal"><i class="fas fa-edit"></i> Edit description</a>
  <% end %>
</p>

<div class="col-md-6">
  <%= pie_chart reason_site_chart_path(@reason.id) %>
</div>
<div class="col-md-6">
  <%= line_chart reason_accuracy_chart_path(@reason.id), colors: ["green", "red"], library: {"tooltip" => {'shared' => 'true'} } %>
</div>

<ul class="nav nav-tabs post-table-nav-tabs post-table-nav-tabs-tp-fp-naa">
  <li class="nav-tab nav-tab-all-results <%= 'active' if params[:filter].nil? or params[:filter] == 'all' %>">
    <%= link_to "All (#{@total})", reason_path(@reason, filter: nil) %>
  </li>
  <li class="nav-tab nav-tab-tp <%= 'active' if params[:filter] == 'tp' %>">
    <%= link_to "True positives (#{@counts_by_feedback[:is_tp]})", reason_path(@reason, filter: 'tp') %>
  </li>
  <li class="nav-tab nav-tab-fp <%= 'active' if params[:filter] == 'fp' %>">
    <%= link_to "False positives (#{@counts_by_feedback[:is_fp]})", reason_path(@reason, filter: 'fp') %>
  </li>
  <li class="nav-tab nav-tab-naa <%= 'active' if params[:filter] == 'naa' %>">
    <%= link_to "NAA (#{@counts_by_feedback[:is_naa]})", reason_path(@reason, filter: 'naa') %>
  </li>
</ul>

<table class="table table-striped posts-table">
  <tbody>
    <%= render partial: 'posts/post', collection: @posts, cached: proc { |i| i.cachebreak } %>
  </tbody>
</table>

<div class="text-center pagination-container">
  <%= will_paginate @posts, renderer: BootstrapPagination::Rails %>
</div>

<div class="modal fade" id="description-modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Edit Description</h4>
      </div>
      <div class="modal-body">
        <%= form_tag update_reason_description_path, method: :post do %>
          <%= hidden_field_tag :id, @reason.id %>

          <div class="field">
            <%= label_tag :description do %>
              <i class="fas fa-question"></i> Description
            <% end %><br/>
            <%= text_area_tag :description, @reason.description, class: 'form-control', rows: 3, cols: 100 %>
          </div><br/>

          <div class="actions">
            <button type="submit" class="btn btn-success"><i class="fas fa-check"></i> Update</button>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
