<h3><%= title @reason.reason_name %></h3>

<div class="col-md-6">
  <%= pie_chart reason_site_chart_path(@reason.id) %>
</div>
<div class="col-md-6">
  <%= line_chart reason_accuracy_chart_path(@reason.id), colors: ["green", "red"], library: {"tooltip" => {'shared' => 'true'} } %>
</div>

<table class="table table-striped">
  <thead>
    <th>Title</th>
  </thead>
  <tbody>
    <% @posts.sort { |a,b| b.id <=> a.id }.each do |post| %>
      <%= render "posts/post", :post => post %>
    <% end %>
  </tbody>
</table>

<div class="text-center">
  <%= will_paginate @posts, renderer: BootstrapPagination::Rails %>
</div>
