<h3><%= title @reason.reason_name %></h3>

<div class="col-md-6">
  <% h = HTMLEntities.new %>
  <%= pie_chart @reason.posts.group(:site).count.map{ |k,v| {(k.nil? ? "Unknown" : h.decode(k.site_name))=>v} }.reduce(:merge).select{|k,v| k != "Unknown"}.sort_by {|k,v| v}.reverse %>
</div>
<div class="col-md-6">
  <%= line_chart [{name: "True positives", data: @reason.posts.where(:is_tp => true).group_by_day(:created_at, range: 1.month.ago.to_date..Time.now).count}, {name: "False positives", data: @reason.posts.where(:is_fp => true).group_by_day(:created_at, range: 1.month.ago.to_date..Time.now).count}], colors: ["green", "red"], library: {"tooltip" => {'shared' => 'true'} } %>
</div>

<table class="table table-striped">
  <thead>
    <th>Title</th>
  </thead>
  <tbody>
    <% @posts.sort { |a,b| b.id <=> a.id }.each do |post| %>
      <%= render "posts/post", :post => post %>
    <% end %>
  </tbody>
</table>

<div class="text-center">
  <%= will_paginate @posts, renderer: BootstrapPagination::Rails %>
</div>
