<h3><%= title "Autoflagging Preferences" %></h3>
<h4>Getting started</h4>
<p>
    If you're trying to get started with autoflags for the first time, you'll need to:
</p>
<ul>
  <li>authorize metasmoke for write access to your Stack Exchange account (see "Clifford the Big Red Button" below)</li>
  <li>verify that the "Allow metasmoke to raise flags for my account" checkbox is checked (see below)</li>
  <li>set up your preferences (below), which govern how many of your flags metasmoke can use per-site. You must set at least one preference.</li>
  <li><%= link_to "set up your autoflagging conditions", url_for(controller: :flag_conditions, action: :index) %>, which govern how certain you want metasmoke to be a post is spam before using your account to flag it. You must set at least one flagging condition.</li>
</ul>
<h4>Authenticating metasmoke with your Stack Exchange account</h4>
<div class="panel panel-danger">
  <div class="panel-heading">
    <h3 class="panel-title">Clifford the Big Red Button</h3>
  </div>
  <div class="panel-body">
    <p>
      <strong class="text-danger">Warning:</strong> for all the joking about, this is serious. By authenticating metasmoke for write access to your Stack Exchange account, you
      are explicitly consenting to your Stack Exchange account being used to cast flags automatically based on data collected by SmokeDetector. While we believe this has a high
      rate of accuracy and have designed the system to reflect this, <i>flags cast using your account are your responsibility</i>, and having many invalid flags can, in some cases,
      result in your SE account being suspended, or being temporarily banned from flagging. Only authenticate metasmoke for write access if you accept this responsibility.
    </p>
    <hr/>
    <% if !current_user.write_authenticated %>
      <p class="text-info">If you have not already done so, you need to first authenticate metasmoke for write access with Stack Exchange; <strong><%= link_to "you can do that here", url_for(controller: :authentication, action: :status) %></strong>.</p>
    <% else %>
      <input id="red-button" name="red-button" type="checkbox" <%= "checked" if current_user.flags_enabled %> <%= "disabled" if (FlagSetting["registration_enabled"] == "0" || !current_user.has_role?(:flagger)) && !current_user.flags_enabled %> />
      <label for="red-button">Allow metasmoke to raise flags for my account</label>
      <p>The above checkbox must be checked in order for either autoflagging or manual flagging through userscripts
      (e.g. <a href="https://github.com/Charcoal-SE/userscripts/blob/master/fire/fire.user.js">FIRE</a>) to work.
      For autoflagging to be active for your account, all of the following must happen:
      A) this checkbox must be checked;
      B) you must have at least one valid autoflagging preference (see "Preferences" below); <em>and</em>
      C) you must have at least one valid <%= link_to "autoflagging condition", url_for(controller: :flag_conditions, action: :index) %>.
      If the above checkbox is checked and you have either or both no valid autoflagging preferences or no valid and enabled  autoflagging conditions,
      then autoflagging for your account will be disabled and only manual flagging will be functional.</p>
      <% if FlagSetting["registration_enabled"] == "0" && !current_user.flags_enabled %>
        <p class="text-muted">Registration is currently disabled.</p>
      <% end %>
      <p>Write token status: metasmoke believes it has a valid SE API write token for your account. If you've 
      <span title="You can remove metasmoke's token from your Stack Exchange account by going to your &quot;Edit profile and settings&quot; page on any Stack Exchange site.
      Then select &quot;Site Settings/Applications&quot; and click &quot;remove&quot; for metasmoke.">removed that token from your application preferences on Stack Exchange</span>, you will need to
      <%= link_to "re-authenticate", url_for(controller: :authentication, action: :status) %>
      in order for metasmoke to raise flags for your account, even though metasmoke doesn't think you need to do so.</p>
    <% end %>
  </div>
</div>

<h4>Preferences: maximum number of flags metasmoke will use</h4>
<p>Each preference below sets the maximum number of your flags metasmoke will use on a site or group of sites. In order for metasmoke to use your account for autoflagging, you need to have at least one such preference set.</p>
<table class="table table-striped">
  <thead>
    <tr>
      <th class="text-muted">ID</th>
      <th>Site Count</th>
      <th>Flags Used Today</th>
      <th colspan="2"></th>
    </tr>
  </thead>
  <tbody>
    <% @preferences.each do |pref| %>
      <tr>
        <td class="text-muted"><%= pref.id %></td>
        <td><%= pref.sites.count %></td>
        <td><%= current_user.flag_logs.where(is_auto: true, success: true).where('created_at > ?', 1.day.ago).count %></td>
        <td><%= link_to "Edit", url_for(controller: :user_site_settings, action: :edit, id: pref.id) %></td>
        <td><%= link_to "Delete", url_for(controller: :user_site_settings, action: :destroy, id: pref.id),
                        method: :delete, data: { confirm: "Are you sure?" }, class: "text-danger" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<% if FlagSetting['registration_enabled'] == '1' %>
  <%= link_to "Add new maximum flags per site preference", url_for(controller: :user_site_settings, action: :new) %><br/>
  <p><em>Don't want to set this up yourself? <%= link_to "There's a wizard for that.", url_for(controller: :flag_conditions, action: :one_click_setup) %></em></p>
<% else %>
  <p class="text-muted"><em>Registration for autoflagging is currently closed.</em></p>
<% end %>
