<h3>Revision <a href="https://github.com/Charcoal-SE/metasmoke/commit/<%= CurrentCommit %>"><code><%= CurrentCommit.first(7) %></code></a></h3>

<hr>

<details open><summary class="h3">Versions <%= link_to "Show ", "#", :id => "show-all-gem-versions" %></summary>

<table class="table" id="gems-versions-table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= link_to "Ruby", "https://www.ruby-lang.org/en/" %></td>
      <td><%= RUBY_VERSION %></td>
    </tr>
    <% @gem_versions.each do |g| %>
      <tr class="<% if !@important_gems.include? g.name %>minor hide<% end %>">
        <td><%= link_to g.name.titleize, "https://rubygems.org/gems/#{g.name}" %></td>
        <td><%= g.version %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</details>
