<% domain ||= nil %>
<div class="label label-<%= tag.special? ? 'warning' : 'info' %> tag-label" data-toggle="tooltip" title="<%= tag.description %>">
  <%= link_to domain_tag_path(tag), class: 'domain-tag' do %>
    #<%= tag.name %>
  <% end %>
  <% if domain.present? && !tag.special? %>
    <%= form_tag remove_domain_tag_path, method: :post do %>
      <%= hidden_field_tag :domain_id, domain.id %>
      <%= hidden_field_tag :tag_name, tag.name %>
      <span class="text-danger form-submit">&times;</span>
    <% end %>
  <% end %>
</div>