<h3>Registered API Keys</h3>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Key String</th>
      <th>App Name</th>
      <th>Owner</th>
      <th>Created</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @keys.each do |key| %>
      <tr>
        <td><%= key.key %></td>
        <td><%= key.app_name %></td>
        <td><%= key.user.username %></td>
        <td><%= time_ago_in_words(key.created_at) %> ago</td>
        <td><%= link_to "Revoke write tokens", url_for(:controller => :api_keys, :action => :revoke_write_tokens, :key_id => key.id), :method => :delete, :class => "text text-danger", data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
