<h3>Edit API key</h3>

<%= form_for @key, url: url_for(controller: :api_keys, action: :owner_update) do |f| %>
  <div class="field">
    <%= f.label :app_name %><br/>
    <%= f.text_field :app_name, class: "form-control" %>
  </div><br/>
  <div class="field">
    <%= f.label :github_link, "GitHub repository link" %><br/>
    <%= f.text_field :github_link, class: "form-control" %>
  </div><br/>
  <div class="field">
    <%= f.submit "Save", class: "btn btn-primary" %>
  </div>
<% end %>
