<h3>Domain: <code><%= @domain.domain %></code></h3>
<% if user_signed_in? && (current_user.has_role?(:core) || current_user.has_role?(:admin)) %>
  <p>
    <% if current_user.has_role?(:core) %>
      <%= link_to 'Edit', edit_spam_domain_path(@domain) %>
    <% end %>
    <% if current_user.has_role?(:admin) %>
      &middot; <%= link_to 'Delete', destroy_spam_domain_path(@domain), method: :delete,
                    data: { confirm: 'Are you sure?' }, class: 'text-danger' %>
    <% end %>
  </p>
<% end %>
<div class="clearfix domain-tag-list">
  <p class="pull-left">
    <% if @domain.domain_tags.any? %>
      Tagged with:
      <% @domain.domain_tags.each do |t| %>
        <%= render 'domain_tags/tag', tag: t, domain: @domain %>
      <% end %>
    <% else %>
      <em>No tags.</em>
    <% end %>
  </p>

  <%= form_tag add_domain_tag_path, method: :post, class: 'form-inline pull-left add-domain-tag' do %>
    <%= hidden_field_tag :domain_id, @domain.id %>
    <%= text_field_tag :tag_name, '', class: 'form-control input-sm', list: 'tag_list' %>
    <datalist id="tag_list">
      <% DomainTag.all.each do |t| %>
        <option value="<%= t.name %>"></option>
      <% end %>
    </datalist>
    <%= submit_tag 'Add', class: 'btn btn-primary btn-sm' %>
  <% end %>
</div>

<% if current_user&.has_role?(:core) %>
  <p>
    <%= link_to new_abuse_report_path(reportable_type: 'SpamDomain', reportable_id: @domain.id) do %>
      <span class="glyphicon glyphicon-file"></span> Create Abuse Report
    <% end %>
  </p>
<% end %>

<p>This domain has been seen in <%= pluralize @counts[:all], 'post' %>, <%= @counts[:tp] %> TP.</p>

<% if @domain.whois.present? %>
  <pre><code><%= @domain.whois %></code></pre>
<% else %>
    <p><em>No whois data available.</em></p>
<% end %>

<table class="table">
  <tbody>
    <% @posts.includes_for_post_row.each do |post| %>
      <%= render 'posts/post', :post => post %>
    <% end %>
  </tbody>
</table>

<%= will_paginate @posts, renderer: BootstrapPagination::Rails %>