<h1>
  Domain: <code><%= @domain.domain %></code>
  <% if @domain.domain_tags.special.any? %>
    <small>
      <% @domain.domain_tags.special.each do |t| %>
        <%= render 'domain_tags/tag', tag: t %>
      <% end %>
    </small>
  <% end %>
</h1>
<% if user_signed_in? && (current_user.has_role?(:core) || current_user.has_role?(:admin)) %>
  <p>
    <% if current_user.has_role?(:core) %>
      <%= link_to 'Edit', edit_spam_domain_path(@domain) %>
    <% end %>
    <% if current_user.has_role?(:core) %>
    &middot; <%= link_to 'Fix ASN Tags', fix_asn_tags_path(@domain), method: :post,
    data: { confirm: 'Are you sure?' }, class: 'text-warning' %>
    <% end %>
    <% if current_user.has_role?(:admin) %>
      &middot; <%= link_to 'Delete', destroy_spam_domain_path(@domain), method: :delete,
                    data: { confirm: 'Are you sure?' }, class: 'text-danger' %>
    <% end %>
  </p>
<% end %>
<div class="clearfix domain-tag-list">
  <p class="pull-left">
    <% if @domain.domain_tags.standard.any? %>
      Tagged with:
      <% @domain.domain_tags.standard.each do |t| %>
        <%= render 'domain_tags/tag', tag: t, domain: @domain %>
      <% end %>
    <% else %>
      <em>No tags.</em>
    <% end %>
  </p>

  <%= form_tag add_domain_tag_path, method: :post, class: 'form-inline add-domain-tag' do %>
    <%= hidden_field_tag :domain_id, @domain.id %>
    <%= select_tag :tag_name, options_for_select(DomainTag.all.map { |dt| [dt.name, dt.name, { 'data-subtext' => dt.description&.truncate(100) }] }),
                   class: 'selectpicker', include_blank: true %>
    <%= submit_tag 'Add', class: 'btn btn-primary' %>
  <% end %>
</div>

<% if current_user&.has_role?(:core) %>
  <%= render 'abuse_reports/list', item: @domain %>
<% end %>

<% if @domain.whois.present? %>
  <pre><code><%= @domain.whois %></code></pre><br/>
<% else %>
  <p><em>No whois data available.</em></p>
<% end %>

<h3>Linked domains</h3>
<p><a href="#" data-toggle="modal" data-target="#new-link-modal">Link a domain</a></p>
<div class="domain-links-list">
  <% @domain.links.each do |l| %>
    <%= render 'domain_links/link', link: l, domain: @domain %>
  <% end %>
</div>

<h3>Posts</h3>
<p>This domain has been seen in <%= pluralize @counts[:all], 'post' %>, <%= @counts[:tp] %> TP.</p>

<table class="table">
  <tbody>
    <% @posts.includes_for_post_row.each do |post| %>
      <%= render 'posts/post', post: post %>
    <% end %>
  </tbody>
</table>

<%= will_paginate @posts, renderer: BootstrapPagination::Rails %>

<div class="modal fade" id="new-link-modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">New Domain Link</h4>
      </div>
      <div class="modal-body">
        <%= form_for DomainLink.new, url: create_domain_link_path, remote: true, class: 'domain-link-form' do |f| %>
          <%= f.hidden_field :left_id, value: @domain.id %>

          <div class="field">
            <%= f.label :right_id, 'Linked domain' %><br/>
            <%= f.select :right_id, [], { include_blank: true }, class: 'form-control selectpicker',
                         data: { remote_source: spam_domains_query_path, none_selected_text: 'Start typing to search for domains...'},
                         required: true %>
          </div><br/>

          <div class="field">
            <%= f.label :link_type, 'Why are these linked?' %><br/>
            <%= f.select :link_type, options_for_select(DomainLink.link_types.map { |lt| [lt, lt] }), { include_blank: true },
                         class: 'form-control selectpicker', data: { none_selected_text: 'Pick an existing reason or type your own' },
                         required: true %>
          </div><br/>

          <div class="field">
            <%= f.label :comments, 'Additional comments' %><br/>
            <%= f.text_area :comments, rows: 5, cols: 100, placeholder: 'Expand on details here if necessary', class: 'form-control' %>
          </div><br/>

          <div class="clearfix">
            <div class="pull-right actions">
              <%= f.submit 'Link', class: 'btn btn-success' %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
