<div class="row">
  <div class="col-md-4 col-centered">
    <div class="login-box">
      <%= link_to "foo", class: "btn btn-default se-oauth-button" do %>
        Login with
          <%= image_tag "se-icon.svg", class: "se-icon" %>Stack Exchange
      <% end %>

      <p class="text-muted se-auth-or-label">or</p>

      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="field form-group">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, class: "form-control" %>
        </div>

        <div class="field form-group">
          <%= f.label :password %><br />
          <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
        </div>

        <div class="actions">
          <%= f.submit "Log in", class: "btn btn-primary" %>
        </div>

        <br />
        <div class="text-center" id="devise-links">
          <%= render "devise/shared/links" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
