<h3><%= title "Status" %></h3>

<br />

<table class='table'>
  <tr>
    <th>Name</th>
    <th style='width:14em;'>Last Ping</th>
    <th colspan="2">
  </tr>

  <% @statuses.each_with_index do |sd, index| %>
    <% if index == 0 or sd.last_ping > 1.hour.ago %>
      <tr class="status-row" data-id="<%= sd.id %>">
    <% else %>
      <tr class="status-row hidden-row" style="<%= 'display:none' %>" data-id="<%= sd.id %>">
    <% end %>
      <td class="location-cell">
        <%= link_to smoke_detector_statistics_path(sd.id) do %>
          <span class="location"><%= sd.location %></span>  
          <span class="label label-<%= sd.last_ping > 3.minutes.ago ? "primary" : "default" %> " style="display: <%= sd.is_standby ? 'inline' : 'none'%>">Standby</span>
        <% end %>
      </td>
      <td class="status-<%= sd.status_color %> ping-cell" data-livestamp="<%= sd.last_ping.to_i %>" title="<%= sd.last_ping.to_s %>">
        <%= time_ago_in_words(sd.last_ping, include_seconds: true)%> ago
      </td>
      <td>
        <% if current_user&.has_role?(:admin) %>
          <%= link_to "De-authorize", url_for(:controller => :smoke_detectors, :action => :destroy, :id => sd.id), :class => "text-danger",
                :data => {:confirm => "This will be logged, and cannot be undone. Sure?"}, :method => :delete %>
        <% end %>
      </td>
      <td>
        <% if current_user&.has_role?(:code_admin) %>
          <% if sd.is_standby and sd.last_ping > 3.minutes.ago %>
            <%= link_to "Failover", smoke_detector_force_failover_path(sd.id), class: "text-danger", :data => {:confirm => "This will take effect at the next ping, within a minute. Sure?"}, method: :post %>
          <% end %>
        <% end %>
      </td>
    </tr>
  <% end %>
</table>

<% if @statuses.to_a.index { |s| s.last_ping < 1.hour.ago } %>
  <a href="#" class="expand-status-table">Toggle hidden</a>
<% end %>

<hr/>

<% if current_user.try(:has_role?, :smoke_detector_runner) %>
  <strong><%= link_to "Manage my keys", smoke_detector_mine_path %></strong>
<% end %>

<br />

<%= link_to "Audits", url_for(:controller => :smoke_detectors, :action => :audits) %><br/><br/>
<% if current_user&.has_role?(:admin) %>
  <div class="panel panel-danger">
    <div class="panel-body">
      <p><span class="text-danger"><strong>Warning:</strong></span> clicking this button will send a message on the Smokey-MS websocket that causes
        <em>all</em> running SmokeDetector instances to die. This is useful in a select number of cases (rogue Smokeys, or unresponsive Smokeys),
        <strong>but</strong> make sure someone is around to restart an instance.</p>
      <%= link_to 'Kill all instances', kill_smokey_path, method: :post, class: 'btn btn-danger', data: { confirm: 'Are you REALLY sure?' } %>
    </div>
  </div>
<% end %>
