<h3><%= title "Status" %></h3>

<br />

<table class='table'>
  <tr>
    <th>Name</th>
    <th>Last Ping</th>
    <%# This is ugly, but it's concise and performant. That's probably not a great excuse.
    tl;dr: If there's a current_user, we map their roles to symbols then get the count
    of the intersection of that array and [:code_admin, :admin]. If it's more than 0, we
    assign it to a variable and the >0 check returns true %>
    <% if (count = ((current_user&.roles&.map(&:name)&.map(&:to_sym) || []) & [:code_admin, :admin]).count) > 0 %>
      <th colspan="<%= count %>"></th>
    <% end %>
  </tr>

  <% @statuses.each_with_index do |sd, index| %>
    <% if index == 0 or sd.last_ping > 1.hour.ago %>
      <tr class="status-row">
    <% else %>
      <tr class="status-row hidden-row" style="<%= 'display:none' %>">
    <% end %>
      <td>
        <%= link_to smoke_detector_statistics_path(sd.id) do %>
          <%= sd.location %>
          <% if sd.is_standby %>
            <span class="label label-primary">Standby</span>
          <% end %>
        <% end %>
      </td>
      <td class="status-<%= sd.status_color %>"><%= sd.last_ping %> (<%= time_ago_in_words(sd.last_ping, include_seconds: true)%> ago)</td>
      <% if current_user&.has_role?(:admin) %>
        <td>
          <%= link_to "De-authorize", url_for(:controller => :smoke_detectors, :action => :destroy, :id => sd.id), :class => "text-danger",
                :data => {:confirm => "This will be logged, and cannot be undone. Sure?"}, :method => :delete %>
        </td>
      <% end %>
      <% if current_user&.has_role?(:code_admin) %>
        <td>
          <% if sd.is_standby %>
            <%= link_to "Failover", smoke_detector_force_failover_path(sd.id), class: "text-danger", method: :post %>
          <% end %>
        </td>
      <% end %>
    </tr>
  <% end %>
</table>

<% if @statuses.to_a.index { |s| s.last_ping < 1.hour.ago } %>
  <a href="#" class="expand-status-table">Toggle hidden</a>
<% end %>

<br/>

<%= link_to "Audits", url_for(:controller => :smoke_detectors, :action => :audits) %>
