<h3>Clear Feedback</h3>

<table class="table">
  <thead>
    <tr>
      <th>Post</th>
    </tr>
  </thead>

  <tbody>
      <%= render "posts/post", post: @post %>
  </tbody>
</table>

<br />

<table class="table">
  <thead>
    <tr>
      <th>Feedback</th>
      <th>User</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @feedbacks.each do |feedback| %>
      <tr class="<%= feedback.is_invalidated? ? "danger" : "" %>">
        <td class="<%= element_class_for_feedback feedback %>"><%= feedback.feedback_type %></td>
        <td><%= feedback.user_name || ("#{feedback.user.try(:username)} (From #{feedback.api_key.try(:app_name) || "Review"})" if feedback.user.present?) %></td>
        <td><%= link_to("delete", delete_feedback_path(feedback), method: :delete) if (!feedback.is_invalidated? && (current_user.has_role?(:admin) || feedback.user_id == current_user.id)) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
