<% wrap_in_tr = true if wrap_in_tr.nil? %>
<% expand_post = false if expand_post.nil? %>
<% preload_post_body = expand_post || (false if preload_post_body.nil?) %>
<% hide_feedbacks = false if hide_feedbacks.nil? %>
<% deletion_date = false if deletion_date.nil? %>
<% show_autoflagged = false if show_autoflagged.nil? %>
<% show_autoflaggers = show_autoflagged if show_autoflaggers.nil? %>
<% @sites = [post.site] if @sites.nil? %>

<% if wrap_in_tr %>
<tr class="post-cell post-cell-<%= post.id %>">
<% end %>
  <td>
    <% if post.try(:body).present? or post.try(:body_exists) == 1 %>
      <span class="text-muted show-post-body" data-postloaded="<%= preload_post_body.to_s %>" data-postid="<%= post.id %>"><%= (expand_post.present? and expand_post) ? "▼" : "►" %></span>
    <% end %>

    <%= link_to post.title, "/post/" + post.id.to_s %>&#x202D;

    <% if show_autoflagged && post.flagged? %>
      <span class="glyphicon glyphicon-flag text-danger" title="This post was autoflagged"></span>
    <% end %>

    <% unless post.feedbacks.empty? or hide_feedbacks %>
      <strong>
         <% post.feedbacks.each do |feedback| %>
           <% next if (feedback.is_positive? and feedback.is_negative?) or (not feedback.is_positive? and not feedback.is_negative? and not feedback.is_naa?) %>
           <span style="<%= "font-weight:normal" if feedback.is_naa? %>" data-toggle="tooltip" data-placement="top" title="<%= (feedback.user.present? or feedback.api_key_id.present?) ? "#{feedback.user.try(:username)} (From #{feedback.api_key.try(:app_name) || "Review"})" : feedback.user_name %>: <%= feedback.feedback_type %>" class="<%= element_class_for_feedback feedback %>"><%= element_symbol_for_feedback(feedback).html_safe %></span>
         <% end %>
      </strong>
    <% end %>

    <span class="text-muted">
      (<%= post.reasons.map(&:weight).reduce(:+) %>)
    </span>

    <% if deletion_date && post.deleted_at %>
      <span class='text-danger'>(deleted <%= distance_of_time_in_words(post.created_at, post.deleted_at, include_seconds: true) %> after creation)</span>
    <% end %>

    <% if post.comments.any? %>
      <span class="comment-hint text-muted" title="<%= pluralize(post.comments.count, 'comment') %>">
        <span class="glyphicon glyphicon-comment"></span> &times;<%= post.comments.count %>
      </span>
    <% end %>

    <span class="text-muted post-row-right">
      <% unless post.created_at.nil? %>
        <span data-livestamp="<%= post.created_at.to_i %>" title="<%= post.created_at %>"></span>
      <% end %>

      <% unless post.username.nil? || post.stack_exchange_user.nil? %>
        by <%= link_to post.username, url_for(:controller => :stack_exchange_users, :action => :show, :id => post.stack_exchange_user.id) %>&#x202D;
      <% end %>

      <% if post.site.present? %>
        <%= link_to (image_tag post.site.site_logo, size: "20"), post.link %>
      <% end %>
    </span>

    <% if post.try(:body).present? or post.try(:body_exists) == 1 %>
      <div data-postid="<%= post.id %>" class="post-body" style="<%= "display: none;" unless expand_post.present? and expand_post %>">
        <% if preload_post_body %>
          <pre class="post-body-pre-block"><%= post.body %></pre>
          <p>
            <span class="report-reasons">
              <%= post.reasons.map(&:reason_name).join(", ") %>
            </span>
          </p>
          <% if show_autoflaggers && post.flagged? %>
            <p>Autoflagged by:&nbsp;
              <% post.flaggers.each do |flagger| %>
                <%= link_to flagger.username, "https://stackexchange.com/users/#{flagger.stack_exchange_account_id}" %>&nbsp;&nbsp;
              <% end %>
            </p>
          <% end %>
        <% end %>
      </div>
    <% end %>
  </td>
<% if wrap_in_tr %>
</tr>
<% end %>
