<tr>
  <td>
    <% if not post.body.nil? %>
      <span class="text-muted show-post-body" data-postid="<%= post.id %>">►</span>
    <% end %>

    <%= link_to post.title, "/post/" + post.id.to_s %>

    <% if not post.feedbacks.empty? %>
      <strong>
         <% post.feedbacks.each do |feedback| %>
           <% next if (feedback.is_positive? and feedback.is_negative?) or (not feedback.is_positive? and not feedback.is_negative?) %>
             <span class="<%= feedback.is_positive? ? "text-success" : "text-danger" %>"><%= feedback.is_positive? ? "&#x2713;".html_safe : "&#x2717;".html_safe %></span>
         <% end %>
      </strong>
    <% end %>

    <span class="text-muted" style="float:right">
      <% unless post.created_at.nil? %>
        <span data-livestamp="<%= post.created_at.to_i %>"></span>
      <% end %>

      <% unless post.site_id.nil? %>
        <%= link_to (image_tag @sites[@sites.index { |x| x.id == post.site_id }].site_logo, size: "20x20"), post.link %>
      <% end %>
    </span>

    <% if not post.body.nil? %>
      <div data-postid="<%= post.id %>" class="post-body" style="display: none;">
        <pre class="post-body-pre-block"><%= post.body %></pre>
        <p>
          <span class="report-reasons">
            <%= post.reasons.map(&:reason_name).join(", ") %>
          </span>
        </p>
      </div>
    <% end %>
  </td>
</tr>
