<% wrap_in_tr = true if wrap_in_tr.nil? %>
<% expand_post = false if expand_post.nil? %>
<% preload_post_body = expand_post || (false if preload_post_body.nil?) %>
<% hide_feedbacks = false if hide_feedbacks.nil? %>
<% deletion_date = false if deletion_date.nil? %>
<% show_autoflagged = false if show_autoflagged.nil? %>
<% show_autoflaggers = show_autoflagged if show_autoflaggers.nil? %>
<% @sites = [post.site] if @sites.nil? %>

<% if wrap_in_tr %>
<tr class="post-cell post-cell-<%= post.id %> post-row">
<% end %>
  <td class="post-td">
    <% if post.try(:body).present? or post.try(:body_exists) == 1 %>
      <span class="text-muted show-post-body" data-postloaded="<%= preload_post_body.to_s %>" data-postid="<%= post.id %>"><%= (expand_post.present? and expand_post) ? "▼" : "►" %></span>
    <% end %>

    <bdi class="post-title-bdi"><%= link_to post.title, "/post/" + post.id.to_s, class: 'post-title-link'  %></bdi>

    <% if show_autoflagged && post.flagged? %>
      <span class="glyphicon glyphicon-flag text-danger autoflagged-marker" title="This post was autoflagged"></span>
    <% end %>

    <% unless post.feedbacks.empty? or hide_feedbacks %>
      <strong class="feedbacks-container">
         <% post.feedbacks.each do |feedback| %>
           <span style="<%= "font-weight:normal" if feedback.is_naa? %>" data-feedbackid="<%= feedback.id %>" data-toggle="tooltip" data-placement="top" title="<%= (feedback.user.present? or feedback.api_key_id.present?) ? "#{feedback.user.try(:username)} (From #{feedback.api_key.try(:app_name) || "Review"})" : feedback.user_name %>: <%= feedback.feedback_type %>" class="<%= element_class_for_feedback feedback %> feedback-span"><%= element_symbol_for_feedback(feedback).html_safe %></span>
         <% end %>
      </strong>
    <% end %>

    <span class="text-muted post-weight">
      (<%= post.reasons.map(&:weight).reduce(:+) %>)
    </span>

    <% if deletion_date && post.deleted_at %>
      <span class='text-danger post-deletion-date'>(deleted <%= distance_of_time_in_words(post.created_at, post.deleted_at, include_seconds: true) %> after creation)</span>
    <% end %>

    <% if post.comments.any? && !hide_feedbacks %>
      <span class="comment-hint text-muted" title="<%= pluralize(post.comments.size, 'comment') %>">
        <span class="glyphicon glyphicon-comment"></span> &times;<%= post.comments.size %>
      </span>
    <% end %>

    <span class="text-muted post-row-right post-creation-and-user-container">
      <% unless post.created_at.nil? %>
        <%= link_to "", post_path(id: post.id), title: post.created_at, "data-livestamp": post.created_at.to_i, class: "text-muted post-creation-date" %>
      <% end %>

      <% unless post.username.nil? || post.stack_exchange_user.nil? %>
        <span class="post-username-by-text">by </span><bdi class="post-owner-username-bdi"><%= link_to post.username, url_for(controller: :stack_exchange_users, action: :show, id: post.stack_exchange_user.id), class: 'post-username-link' %></bdi>
      <% end %>

      <% if post.site.present? %>
        <%= link_to (image_tag post.site.site_logo, size: "20"), post.link, class: 'post-site-link' %>
      <% end %>
    </span>

    <div class="post-body" data-postid="<%= post.id %>" style="<%= "display: none;" unless expand_post.present? and expand_post %>">
      <% if preload_post_body %>
        <ul class="nav nav-tabs body-view-nav-tabs" role="tablist">
          <li class="nav-tab nav-tab-post-body-text" role="presentation" class="active">
            <a href="#post-body-tab-<%= post.id %>" role="tab" data-toggle="tab" class="post-render-mode" data-render-mode="text">Text</a>
          </li>
          <% unless post.markdown.nil? %>
            <li class="nav-tab nav-tab-post-body-markdown" role="presentation">
              <a href="#post-source-tab-<%= post.id %>" role="tab" data-toggle="tab" class="post-render-mode" data-render-mode="markdown">Markdown</a>
            </li>
          <% end %>
          <li class="nav-tab nav-tab-post-body-rendered" role="presentation">
            <a href="#preview-tab-<%= post.id %>" role="tab" data-toggle="tab" class="post-render-mode" data-render-mode="rendered">Preview</a>
          </li>
        </ul><br class="nav-tabs-to-body-br-spacer"/>

        <div class="tab-content body-content-container">
          <div role="tabpanel" class="tab-pane active post-body-panel-text" id="post-body-tab-<%= post.id %>">
            <% if post.try(:body).present? or post.try(:body_exists) == 1 %>
              <div>
                <pre class="post-body-pre-block"><%= post.body %></pre>
                <p>
                  <span class="report-reasons">
                    <%= post.reasons.map(&:reason_name).join(", ") %>
                  </span>
                </p>
                <% if show_autoflaggers && post.flagged? %>
                  <p>Autoflagged by:&nbsp;
                    <% post.flaggers.each do |flagger| %>
                      <%= link_to flagger.username, "https://stackexchange.com/users/#{flagger.stack_exchange_account_id}" %>&nbsp;&nbsp;
                    <% end %>
                  </p>
                <% end %>
              </div>
            <% end %>
          </div>
          <% unless post.markdown.nil? %>
            <div role="tabpanel" class="tab-pane post-body-panel-markdown" id="post-source-tab-<%= post.id %>">
              <pre class="post-body-pre-block"><%= post.markdown %></pre>
            </div>
          <% end %>
          <div role="tabpanel" class="tab-pane post-body-panel-preview" id="preview-tab-<%= post.id %>">
            <div class="panel panel-default">
              <div class="panel-body">
                <%= safe_render_markdown(post.markdown || post.body, scrubber: Post.scrubber) %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </td>
<% if wrap_in_tr %>
</tr>
<% end %>
