<ul class="nav nav-tabs" role="tablist">
  <li role="presentation" class="active">
    <a href="#post-body-tab-<%= @post.id %>" role="tab" data-toggle="tab" class="post-render-mode" data-render-mode="markdown">Markdown</a>
  </li>
  <li role="presentation">
    <a href="#preview-tab-<%= @post.id %>" role="tab" data-toggle="tab" class="post-render-mode" data-render-mode="rendered">Preview</a>
  </li>
</ul><br/>

<div class="tab-content">
  <div role="tabpanel" class="tab-pane active" id="post-body-tab-<%= @post.id %>">
    <div>
      <pre class="post-body-pre-block"><%= @post.body %></pre>
      <p>
        <span class="report-reasons">
          <%= @post.reasons.map(&:reason_name).join(", ") %>
        </span>
      </p>
    </div>
  </div>
  <div role="tabpanel" class="tab-pane" id="preview-tab-<%= @post.id %>">
    <div class="panel panel-default">
      <div class="panel-body">
        <%= raw(sanitize(AnnouncementsController.renderer.render(@post.body), scrubber: PostScrubber.new)) %>
      </div>
    </div>
  </div>
</div>