<p id="notice"><%= notice %></p>

<h3><%= title 'Recent posts' %></h3>

<ul class="nav nav-tabs post-table-nav-tabs">
  <li class="<%= "active" if params[:filter].nil? %>">
    <%= link_to "All", posts_path %>
  </li>
  <li class="<%= 'active' if params[:filter] == 'undeleted' %>">
    <%= link_to "Undeleted", posts_path(filter: :undeleted) %>
  </li>
</ul>

<%= render 'table', posts: @posts %>

<div class="text-center pagination-container">
  <%= will_paginate @posts, renderer: BootstrapPagination::Rails %>
</div>
