<h4>
  <% if @post.flagged? %>
    <%= link_to post_flag_logs_path(@post), :style => "text-decoration:none"  do %>
      <span class="text-danger glyphicon glyphicon-flag" title="This post is a candidate for automatic flagging." href="#"></span>
    <% end %>
  <% end %>
  <%= title @post.title %>
  <% feedbacks = @post.feedbacks.to_a %>
  <strong class="post-feedbacks">
     <% feedbacks.each do |feedback| %>
       <% next if (feedback.is_positive? && feedback.is_negative?) || (!feedback.is_positive? && !feedback.is_negative? && !feedback.is_naa?) %>
         <span style="<%= "font-weight:normal" if feedback.is_naa? %>" data-toggle="tooltip" data-placement="top" title="<%= (feedback.user.present? || feedback.api_key_id.present?) ? "#{feedback.user.try(:username)} (From #{feedback.api_key.try(:app_name) || "Review"})" : feedback.user_name %>: <%= feedback.feedback_type %>" class="<%= element_class_for_feedback feedback %>"><%= element_symbol_for_feedback(feedback).html_safe %></span>
     <% end %>
  </strong>
  <% unless feedbacks.empty? %>
    <% if current_user.present? && (current_user.has_role?(:admin) || @post.feedbacks.where(:user_id => current_user.id).exists?) %>
      <small>
        <%= link_to "(clear)", clear_post_feedback_path(@post) %>
      </small>
    <% end %>
    <small><a data-post-id="<%= @post.id %>" href="#" class="admin-report" data-no-turbolinks=true>(needs admin)</a></small>
  <% end %>
</h4>

<% unless @post.body.nil? %>
  <div data-postid="<%= @post.id.to_s %>" class="post-body">
    <hr>
    <pre class="post-body-pre-block"><%= @post.body %></pre>
  </div>
<% end %>

<hr>

<% unless @post.link.nil? %>
  <% unless @post.site_logo.nil? %>
    <%= image_tag @post.site_logo, size: "20" %>
  <% end %>
  <%= link_to "View on site", @post.link %>
  <% deletion_log = @post.deletion_logs.where(:is_deleted => true).first %>
  <% if deletion_log %>
    <span class="text-danger">
      (deleted
        <span title="<%= (deletion_log.created_at - @post.created_at).round(0) %> seconds">
          <%= distance_of_time_in_words(@post.created_at, deletion_log.created_at, include_seconds: true) %>
        </span>
      after being reported)
    </span>
  <% end %>
<% end %>

<% unless @post.created_at.nil? %>
  <span class="text-muted" style="float:right">
    <span title="<%= @post.created_at %>">
      <%= "reported " + time_ago_in_words(@post.created_at).sub("about ", "") + " ago " %>
    </span>
    <% unless @post.user_link.nil? %>
      | posted by
      <% unless @post.site_logo.nil? %>
        <%= link_to @post.user_link do %>
          <%= image_tag @post.site_logo, size: "20" %>
        <% end %>
      <% end %>
      <%= link_to @post.username, stack_exchange_user_path(@post.stack_exchange_user_id) %>
      <% unless @post.user_reputation.nil? %>
        (<%= @post.user_reputation %>)
      <% end %>
    <% end %>
  </span>
<% end %>
<hr>

<p>Caught by:</p>

<ul>
  <% @post.reasons.each do |reason| %>
    <li><%= link_to reason.reason_name, "/reason/" + reason.id.to_s %></li>
  <% end %>
</ul>

<% if @post.reason_weight.present? %>
  <p class="text-muted">Reason weight: <%= @post.reason_weight %></p>
<% end %>

<% if @post.why.present? %>
  <pre><%= @post.why %></pre>
<% end %>

<% if user_signed_in? && current_user.has_role?(:developer) %>
  <div class="panel panel-danger">
    <div class="panel-heading">
      <h3 class="panel-title">Developer tools</h3>
    </div>
    <div class="panel-body">
      <ul>
        <li><%= link_to "Update feedback cache", url_for(:controller => :posts, :action => :reindex_feedback, :id => @post.id) %></li>
      </ul>
    </div>
  </div>
<% end %>
