<h4>
  <% if @post.flag_logs.auto.successful.any? %>
    <%= link_to post_flag_logs_path(@post), style: "text-decoration:none"  do %>
      <span class="text-danger" title="This post had flags cast on it" href="#"><%= @post.flag_logs.auto.successful.first.flag_icon %></span>
    <% end %>
  <% end %>
  <%= title @post.title %>
  <% unless @is_review_item %>
    <strong class="post-feedbacks">
       <% @post.feedbacks.each do |feedback| %>
         <span style="<%= "font-weight:normal" if feedback.is_naa? %>" data-toggle="tooltip" data-placement="top" title="<%= (feedback.user.present? || feedback.api_key_id.present?) ? "#{feedback.user.try(:username)} (From #{feedback.api_key.try(:app_name) || "Review"})" : feedback.user_name %>: <%= feedback.feedback_type %>" class="<%= element_class_for_feedback feedback %>"><%= element_symbol_for_feedback(feedback).html_safe %></span>
       <% end %>
    </strong>
  <% end %>
  <small>
    <%= link_to post_path(@post) do %>
      <i class="fas fa-fw fa-link"></i>
    <% end %>
  </small>
  <% unless @post.feedbacks.empty? || @is_review_item %>
    <% if current_user.present? && (current_user.has_role?(:admin) || @post.feedbacks.where(user_id: current_user.id).exists?) %>
      <small>
        &middot; <%= link_to "(clear)", clear_post_feedback_path(@post) %>
      </small>
    <% end %>
  <% end %>
</h4>

<% if user_signed_in? %>
  <p><a href="#" data-toggle="modal" data-target="#admin-report-modal" class="text-warning">
    <span data-toggle="tooltip" title="Request admin attention on this post"><span class="glyphicon glyphicon-alert"></span> Something not right?</span>
  </a></p>
<% end %>

<% if user_signed_in? && current_user.has_role?(:reviewer) && !@is_review_item %>
  <p>
    <strong>Add feedback:</strong>
    <%= link_to raw('&#x2713'), post_feedback_path(post_id: @post.id, feedback_type: 'tp'),
                class: 'feedback-button on-post text-success', remote: true, method: :post, data: { post_id: @post.id } %>
    <%= link_to raw('&#x2717'), post_feedback_path(post_id: @post.id, feedback_type: 'fp'),
                class: 'feedback-button on-post text-danger', remote: true, method: :post, data: { post_id: @post.id } %>
    <% if @post.link.nil? or @post.link.include? '/a/' %>
        <%= link_to raw('&#x1f4a9'), post_feedback_path(post_id: @post.id, feedback_type: 'naa'), class: 'feedback-button on-post text-warning',
                    remote: true, method: :post, data: { post_id: @post.id } %>
    <% end %>
  </p>
<% end %>

<div class="clearfix domain-tag-list">
  <p class="pull-left">
    <% if @post.post_tags.any? %>
      Tagged with:
      <% @post.post_tags.each do |t| %>
        <%= render 'domain_tags/post_tag', tag: t, post: @post %>
      <% end %>
    <% else %>
      <em>No tags.</em>
    <% end %>
  </p>

  <% if current_user&.has_role?(:core) %>
    <%= form_tag add_post_tag_path, method: :post, class: 'form-inline pull-left add-post-tag' do %>
      <%= hidden_field_tag :post_id, @post.id %>
      <%= select_tag :tag_name, options_for_select(DomainTag.all.map { |dt| [dt.name, dt.name, { 'data-subtext' => dt.description&.truncate(100) }] }),
                     class: 'selectpicker', include_blank: true %>
      <%= submit_tag 'Add', class: 'btn btn-primary btn-sm' %>
    <% end %>
  <% end %>
</div>

<hr/>

<% unless @post.body.nil? %>
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active">
      <a href="#post-body-tab" role="tab" data-toggle="tab" class="post-render-mode" data-render-mode="markdown">Markdown</a>
    </li>
    <li role="presentation">
      <a href="#preview-tab" role="tab" data-toggle="tab" class="post-render-mode" data-render-mode="rendered">Preview</a>
    </li>
  </ul><br/>

  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="post-body-tab">
      <pre class="post-body-pre-block"><%= @post.body %></pre>
    </div>
    <div role="tabpanel" class="tab-pane" id="preview-tab">
      <div class="panel panel-default">
        <div class="panel-body">
          <%= raw(sanitize(AnnouncementsController.renderer.render(@post.body), scrubber: PostScrubber.new)) %>
        </div>
      </div>
    </div>
  </div>
<% end %>

<hr>

<% unless @post.link.nil? %>
  <% unless @post.site&.site_logo.nil? %>
    <%= image_tag @post.site.site_logo, size: "20" %>
  <% end %>
  <%= link_to "View on site", @post.link %>
  <% if @post.deleted_at %>
    <span class="text-danger">
      (deleted
        <span title="<%= (@post.deleted_at - @post.created_at).round(0) %> seconds">
          <%= distance_of_time_in_words(@post.created_at, @post.deleted_at, include_seconds: true) %>
        </span>
      after being reported)
    </span>
  <% end %>
<% end %>

<% unless @post.created_at.nil? %>
  <span class="text-muted" style="float:right">
    <span title="<%= @post.created_at %>">
      <%= "reported " + time_ago_in_words(@post.created_at).sub("about ", "") + " ago " %>
    </span>
    <% if @post.revision_count.to_i >= 2 %>
      | edited <%= number_to_multiplicative_quantifier @post.revision_count - 1 %>
    <% end %>
    <% unless @post.user_link.nil? %>
      | posted by
      <% unless @post.site&.site_logo&.nil? %>
        <%= link_to @post.user_link do %>
          <% unless @post.site&.site_logo.nil? %>
            <%= image_tag @post.site.site_logo, size: "20" %>
          <% end %>
        <% end %>
      <% end %>
      <%= link_to @post.username, stack_exchange_user_path(@post.stack_exchange_user_id) if @post.stack_exchange_user_id.present? %>
      <% unless @post.user_reputation.nil? %>
        (<%= @post.user_reputation %>)
      <% end %>
    <% end %>
  </span>
<% end %>
<hr>

<p>Caught by:</p>

<ul>
  <% @post.reasons.each do |reason| %>
    <li>
      <%= link_to reason.reason_name, reason_path(reason), title: reason.description, data: { toggle: 'tooltip' } %>
      <span class="text-muted">(<%= reason.weight %>)</span>
    </li>
  <% end %>
</ul>

<% if @post.respond_to?(:reason_weight) && @post.reason_weight&.present? %>
  <p class="text-muted">Reason weight: <%= @post.reason_weight %></p>
<% else %>
  <p class="text-muted">Reason weight: <%= @post.reasons.map(&:weight).reduce(:+) %></p>
<% end %>

<% if @post.why.present? %>
  <pre><%= render_links @post.why %></pre>
<% end %>

<% if user_signed_in? && current_user.write_authenticated && current_user.flags_enabled && !@post.is_fp && !@post.deleted? && Time.now - (@post.created_at || 1.day.ago) <= 1.hour && current_user.has_role?(:reviewer) %>
  <p>
    <%= link_to url_for(controller: :posts, action: :cast_spam_flag, id: @post.id), method: :post, class: "text-danger" do %>
      <span class="glyphicon glyphicon-flag"></span> Spam flag
    <% end %>
  </p>
<% end %>

<% if current_user&.has_role?(:core) %>
  <%= render 'abuse_reports/list', item: @post %>
<% end %>

<hr/>

<p>Contains domains:</p>
<% if @post.spam_domains.any? %>
  <ul class="post-domain-list">
    <% @post.spam_domains.each do |d| %>
      <li><%= render 'spam_domains/domain', domain: d %></li>
    <% end %>
  </ul><br/>
<% else %>
  <p class="post-no-domain-list"><em>No domains</em></p>
<% end %>

<% @post.comments.each do |c| %>
  <%= render 'post_comments/comment', comment: c, feedback: @post.feedbacks.to_a.select { |f| f.user_id == c.user_id }[0] %>
<% end %>

<% if current_user&.has_role?(:reviewer) %>
  <p><a href="javascript:void(0)" class="new-comment"><span class="glyphicon glyphicon-plus"></span> Add a comment</a></p>
<% end %>

<div class="add-comment">
  <%= form_for PostComment.new, url: create_comment_path do |f| %>
    <%= f.hidden_field :post_id, value: @post.id %>
    <div class="field">
      <%= f.text_area :text, rows: 3, cols: 100, placeholder: 'Useful information about this post that others might need...', class: 'form-control' %>
    </div>
    <div class="actions">
      <%= f.submit 'Add Comment', class: 'btn btn-primary' %>
    </div>
  <% end %>
</div>

<% if user_signed_in? && current_user.has_role?(:developer) %>
  <div class="panel panel-danger">
    <div class="panel-heading">
      <h3 class="panel-title">Developer tools</h3>
    </div>
    <div class="panel-body">
      <ul>
        <li><%= link_to "Update feedback cache", url_for(controller: :posts, action: :reindex_feedback, id: @post.id), method: :post %></li>
        <li><%= link_to "Delete post", dev_delete_post_path(@post.id), method: :post, data: { confirm: "Are you sure you want to delete this post? This can't be undone." } %></li>
      </ul>
    </div>
  </div>
<% end %>

<%= render 'flags/create', post: @post %>
