<h4>
  <%= @post.title %>
  <% feedbacks = @post.feedbacks.to_a %>
  <% if not feedbacks.empty? %>
    <strong>
       <% feedbacks.each do |feedback| %>
         <% next if (feedback.is_positive? and feedback.is_negative?) or (not feedback.is_positive? and not feedback.is_negative? and not feedback.is_naa?) %>
           <span style="<%= "font-weight:normal" if feedback.is_naa? %>" data-toggle="tooltip" data-placement="top" title="<%= feedback.user.present? ? "(From Review)" : feedback.user_name %>" class="<%= feedback.element_class %>"><%= feedback.element_symbol.html_safe %></span>
       <% end %>
    </strong>
    <% if current_user.present? and current_user.is_admin %>
      <small>
        <%= link_to "(clear)", clear_post_feedback_path(@post) %>
      </small>
    <% end %>
    <small><a data-post-id="<%= @post.id %>" href="#" class="admin-report">(needs admin)</a></small>
  <% end %>
</h4>

<% unless @post.body.nil? %>
  <div data-postid="<%= @post.id.to_s %>" class="post-body">
    <hr>
    <pre class="post-body-pre-block"><%= @post.body %></pre>
  </div>
<% end %>

<hr>

<% unless @post.link.nil? %>
  <%= image_tag @post.site_logo, size: "20x20" %>
  <%= link_to "View on site", @post.link %>
  <% deletion_log = @post.deletion_logs.where(:is_deleted => true).first %>
  <% if deletion_log %>
    <span class="text-danger">
      (deleted
        <%= distance_of_time_in_words(@post.created_at, deletion_log.created_at, include_seconds: true) %>
      after being reported)
    </span>
  <% end %>
<% end %>

<% unless @post.created_at.nil? %>
  <span class="text-muted" style="float:right">
    <%= "posted " + time_ago_in_words(@post.created_at).sub("about ", "") + " ago " %>
    <% unless @post.user_link.nil? %>
      by <%= link_to @post.username, @post.user_link %>
      <% unless @post.user_reputation.nil? %>
        (<%= @post.user_reputation %>)
      <% end %>
    <% end %>
  </span>
<% end %>
<hr>

<p>Caught by:</p>

<ul>
  <% @post.reasons.each do |reason| %>
    <li><%= link_to reason.reason_name, "/reason/" + reason.id.to_s %></li>
  <% end %>
</ul>

<% if @post.why.present? %>
  <pre><%= @post.why %></pre>
<% end %>
