<h4>
  <%= @post.title %>
  <% feedbacks = @post.feedbacks.load %>
  <% if not feedbacks.empty?  %>
    <strong>
       <% feedbacks.each do |feedback| %>
         <% next if (feedback.is_positive? and feedback.is_negative?) or (not feedback.is_positive? and not feedback.is_negative?) %>
           <span class="<%= feedback.is_positive? ? "text-success" : "text-danger" %>"><%= feedback.is_positive? ? "&#x2713;".html_safe : "&#x2717;".html_safe %></span>
       <% end %>
    </strong>
  <% end %>
</h4>

<% unless @post.body.nil? %>
  <div data-postid="<%= @post.id.to_s %>" class="post-body">
    <hr>
    <pre class="post-body-pre-block"><%= @post.body %></pre>
  </div>
<% end %>

<hr>

<% unless @post.link.nil? %>
  <%= image_tag @post.site.site_logo, size: "20x20" %>
  <%= link_to "View on site", @post.link %>
<% end %>

<% unless @post.created_at.nil? %>
  <span class="text-muted" style="float:right">
    <%= "posted " + time_ago_in_words(@post.created_at).sub("about ", "") + " ago " %>
    <% unless @post.user_link.nil? %>
      by <%= link_to @post.username, @post.user_link %>
    <% end %>
  </span>
<% end %>
<hr>

<p>Caught by:</p>

<ul>
  <% @post.reasons.each do |reason| %>
    <li><%= link_to reason.reason_name, "/reason/" + reason.id.to_s %></li>
  <% end %>
</ul>

<% if @post.why.present? %>
  <pre><%= @post.why %></pre>
<% end %>
