<div class="row">
  <div class="col-md-4 col-centered">
    <div class="login-box">
      <%= link_to signup_auth_url, class: "btn btn-default se-oauth-button" do %>
          Sign up with
          <%= image_tag "se-icon.svg", class: "se-icon" %>Stack Exchange
      <% end %>

      <p class="text-muted se-auth-or-label">or</p>

      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <% if resource.errors.any? %><div class="alert alert-danger"><%= devise_error_messages! %></div><% end %>

          <div class="field form-group">
            <%= f.label :email %><br />
            <%= f.email_field :email, autofocus: true, class: "form-control" %>
          </div>

          <div class="field form-group">
            <%= f.label :username %><br />
            <%= f.text_field :username, class: "form-control" %>
          </div>

          <div class="field form-group">
            <%= f.label :password %>
            <% if @minimum_password_length %>
                <em>(<%= @minimum_password_length %> characters minimum)</em>
            <% end %><br />
            <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
          </div>

          <div class="field form-group">
            <%= f.label :password_confirmation %><br />
            <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control" %>
          </div>

          <div class="field form-group">
            <%= f.check_box :eu_resident %>
            <%= f.label :eu_resident, 'I am an EU resident' %><br/>

            <%= f.check_box :privacy_accepted %>
            <%= f.label :privacy_accepted do %>
                I have read and accept the <%= link_to 'Privacy Statement', data_privacy_path %>
            <% end %>
          </div>

          <div class="actions">
            <%= f.submit "Sign up", class: "btn btn-primary" %>
          </div>
          <br />

          <div class="text-center" id="devise-links">
            <%= render "devise/shared/links" %>
          </div>
      <% end %>
    </div>
  </div>
</div>
