<h2 style="font-size:24pt;color:#333;">Your Charcoal SpamWatch summary</h2>
<h3 style="font-size:18pt;color:#777;">Domains for <%= @group.name %>caught since <%= @last_email_date %></h3>

<p style="font-size:14pt;color:#333;">Greetings,</p>

<% if @domains.empty? %>
  <p style="font-size:14pt;color:#333;">No domain names have been added to the domain group "<%= @group.name %>" since you were last emailed.</p>
<% else %>
  <p style="font-size:14pt;color:#333;">The following domain names have been added to the domain group "<%= @group.name %>" since you were last emailed.</p>

  <ul style="font-size:14pt;color:#333;">
    <% @domains.each do |sd| %>
      <li><%= link_to sd.domain, sd.domain %></li>
    <% end %>
  </ul>
<% end %>

<p style="font-size:14pt;color:#333;">
  Regards,<br/>
  Charcoal SpamWatch team
</p>

<p style="font-size:11pt;color: #777;">
  Charcoal is not affiliated with and does not endorse the content of any websites linked or referred to in this email unless expressly stated otherwise.
  We recommend caution when accessing any of the linked websites in this email, as they may contain spam, malware, and/or work-inappropriate content.
</p>

<p style="font-size:11pt;color: #777;">
  If you want to change your preferences or unsubscribe, you can do so
  <a href="https://metasmoke.erwaysoftware.com/email/preferences/show?token=<%= @addressee.manage_key %>">here</a>.
</p>