<% title "Flagging" %>
<div class="row clearfix">
  <div class="col-md-3">
    <% if FlagSetting['flagging_enabled'] == '0' %>
      <div class="module module-red">
        <div class="module-header">
          <h4 class="module-title"><span class="glyphicon glyphicon-flag"></span> system status</h4>
        </div>
        <div class="module-body">
          <p class="status-text">Flagging is disabled.</p>
        </div>
      </div>
    <% else %>
      <% if FlagSetting['dry_run'] == '1' %>
        <div class="module module-amber">
          <div class="module-header">
            <h4 class="module-title"><span class="glyphicon glyphicon-flag"></span> system status</h4>
          </div>
          <div class="module-body">
            <p class="status-text">Enabled, but dry-running.</p>
          </div>
        </div>
      <% else %>
        <div class="module module-green">
          <div class="module-header">
            <h4 class="module-title"><span class="glyphicon glyphicon-flag"></span> system status</h4>
          </div>
          <div class="module-body">
            <p class="status-text">Enabled &amp; flagging.</p>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="col-md-3">
    <% if FlagSetting['registration_enabled'] == '0' %>
      <div class="module module-red">
        <div class="module-header">
          <h4 class="module-title"><span class="glyphicon glyphicon-edit"></span> registration</h4>
        </div>
        <div class="module-body">
          <p class="status-text">Registration is <strong>closed</strong>.</p>
        </div>
      </div>
    <% else %>
      <div class="module module-green">
        <div class="module-header">
          <h4 class="module-title"><span class="glyphicon glyphicon-edit"></span> registration</h4>
        </div>
        <div class="module-body">
          <p class="status-text">Registration is <strong>open</strong>.</p>
        </div>
      </div>
    <% end %>
  </div>
  <div class="col-md-3">
    <div class="module">
      <div class="module-header">
        <h4 class="module-title"><span class="glyphicon glyphicon-stats"></span> last 24 hours</h4>
      </div>
      <div class="module-body">
        <p>
          <%= link_to flag_logs_path do %>
            <strong><%= pluralize @recent_count, 'flag' %></strong> cast
          <% end %>
        </p>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="module">
      <div class="module-header">
        <h4 class="module-title"><span class="glyphicon glyphicon-user"></span> flagging & you</h4>
      </div>
      <div class="module-body">
        <% if user_signed_in? %>
          <% if current_user.flags_enabled %>
            <%= link_to flag_logs_by_user_path(current_user) do %>
              <p><strong><%= pluralize current_user.flag_logs.where(:is_auto => true, :success => true).where('created_at > ?', Date.today).count, 'flag' %></strong> used today</p>
            <% end %>
          <% else %>
            <p class="text-muted"><em>Not registered for flagging.</em></p>
          <% end %>
        <% else %>
          <p class="text-muted"><em>Not signed in.</em></p>
        <% end %>
      </div>
    </div>
  </div>
</div>

<h3>Links</h3>
<ul>
  <li><%= link_to "Unflagged logs", unflagged_logs_path %></li>
  <li><%= link_to "System settings", url_for(:controller => :flag_settings, :action => :index) %></li>
  <li><%= link_to "Your preferences", url_for(:controller => :user_site_settings, :action => :index) %></li>
  <li><%= link_to "Your conditions", url_for(:controller => :flag_conditions, :action => :index) %></li>
</ul>

<% if user_signed_in? && current_user.has_role?(:admin) %>
  <h3>Admin</h3>
  <ul>
    <li><%= link_to "All conditions", url_for(:controller => :flag_conditions, :action => :full_list) %></li>
    <li><%= link_to "Invalidate API tokens", url_for(:controller => :authentication, :action => :invalidate_tokens), :class => "text-danger" %></li>
  </ul>

  <h5><strong>User views</strong></h5>
  <%= form_tag url_for(:controller => :flag_conditions, :action => :user_overview), :method => 'GET' do %>
    <%= select_tag 'user', options_for_select(User.all.map{|u| [u.try(:username), u.id]}), {:class => 'form-control selectpicker', 'data-live-search' => true, 'data-actions-box' => true, 'data-dropup-auto' => false} %><br/>
    <%= submit_tag 'View', :class => 'btn btn-primary' %>
  <% end %>
<% end %>

<h3>Stats</h3>
<%= pluralize(User.where(:flags_enabled => true).count, "active participant") %><br/>
<%= pluralize(FlagLog.auto.where(:success => true, :is_dry_run => false).count, "spam flag") %> total cast over
<%= time_ago_in_words(FlagLog.auto.where(:success => true, :is_dry_run => false).first.try(:created_at)) rescue nil %><br/>

<%= pie_chart url_for(:controller => :graphs, :action => :flagging_results), colors: ['red', 'orange', 'green'] %>
<%= line_chart url_for(:controller => :graphs, :action => :flagging_timeline), colors: ['red', 'orange', 'green'],
library: { "xAxis": { "plotLines" => flag_settings_plot_lines(1.month.ago)}} %>
