<h3><%= title 'Flag Settings' %></h3>

<%= link_to 'Change Log', flag_settings_audits_path %>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Value</th>
      <% if user_signed_in? && current_user.has_role?(:admin) %>
        <th></th>
      <% end %>
    </tr>
  </thead>

  <tbody>
    <% @flag_settings.each do |flag_setting| %>
      <tr>
        <td><%= flag_setting.name.humanize %> (<code><%= flag_setting.name %></code>)</td>
        <td><%= flag_setting.value %></td>
        <% if user_signed_in? && current_user.has_role?(:admin) %>
          <td><%= link_to 'Edit', edit_flag_setting_path(flag_setting) %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if user_signed_in? && current_user.has_role?(:admin) %>
  <%= link_to 'New Flag Setting', new_flag_setting_path %>
<% end %>
