<h1>Site Settings</h1>
<p>Contains settings that can be configured per SE site.</p>

<input type="text" class="form-control input-sm site-search" placeholder="Filter (press Enter to apply)" /><br/>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Site</th>
      <th>Flags enabled</th>
      <th>Max flags per post</th>
      <th>Auto-modflags enabled</th>
    </tr>
  </thead>
  <tbody>
    <% @sites.each do |s| %>
      <tr data-sid="<%= s.id %>">
        <td><%= HTMLEntities.new.decode s.site_name %></td>
        <td><input type="checkbox" name="flags_enabled" <%= 'checked' if s.flags_enabled %> /></td>
        <td><input type="number" class="form-control input-sm" min="0" max="6" value="<%= s.max_flags_per_post %>" /></td>
        <td><input type="checkbox" name="auto_disputed_flags_enabled" <%= 'checked' if s.auto_disputed_flags_enabled %> /></td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="panel panel-warning unsaved-changes">
  <div class="panel-body clearfix">
    <p class="text-warning pull-left">
      <strong>You have unsaved changes.</strong> Click the Save button to persist them to the database.
    </p>
    <span class="pull-right">
      <a href="#" class="save-changes btn btn-warning">Save</a>
    </span>
  </div>
</div>

<script>
  window.flagging_settings = <%= raw(@json) %>;
</script>