<h1><%= @contact.name %></h1>
<p><span class="glyphicon glyphicon-envelope"></span> <%= @contact.email %></p>
<p><span class="glyphicon glyphicon-link"></span> <%= link_to @contact.link, @contact.link %></p>

<% if current_user&.has_role?(:core) %>
  <p>
    <%= link_to 'Edit', edit_abuse_contact_path(@contact) %>
    <% if current_user&.has_role?(:admin) %>
      &middot;
      <%= link_to 'Delete', destroy_abuse_contact_path(@contact), method: :delete, class: 'text-danger', data: { confirm: 'Are you sure?' } %>
    <% end %>
  </p>
<% end %>

<%= safe_render_markdown(@contact.details.present? ? @contact.details : 'No contact details stored', scrubber: Announcement.scrubber) %>

<h3>Reports to this contact</h3>
<% @reports.in_groups_of(3).map(&:compact).each do |g| %>
  <div class="row">
    <% g.each do |r| %>
      <%= render 'abuse_reports/report', report: r %>
    <% end %>
  </div>
<% end %>
