<div class="spam-wave" data-id="<%= wave.id %>">
  <h3><%= link_to wave.name, spam_wave_path(wave) %></h3>
  <p class="text-muted">Created by <%= wave.user.username %> <span title="<%= wave.created_at %>"><%= time_ago_in_words(wave.created_at) %></span> ago.</p>
  <% if wave.expiry.past? %>
    <p title="<%= wave.expiry %>">Expired.</p>
  <% else %>
    <p>Expires in <span title="<%= wave.expiry %>"><%= distance_of_time_in_words(DateTime.now, wave.expiry) %></span>.</p>
  <% end %>
  <span class="button-container">
    <%= link_to 'Edit', edit_spam_wave_path(wave), class: 'btn btn-primary' %>
    <%= link_to 'Renew Wave', renew_spam_wave_path(wave), class: 'btn btn-warning', method: :post %>
    <% if wave.expiry.past? %>
      <%= link_to 'Cancel Wave', cancel_spam_wave_path(wave), class: 'btn btn-danger', method: :post %>
    <% end %>
  </span>
</div>
<hr/>