<!DOCTYPE html>
<html>
<head>
  <title>
    <%= if content_for?(:title) then yield(:title) + ' - ' end %>
    metasmoke
  </title>

  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= favicon_link_tag       '/favicon.ico' %>

  <%= stylesheet_link_tag "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" %>
  <%= stylesheet_link_tag "https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.1/css/bootstrap-select.min.css" %>
  <%= stylesheet_link_tag "https://charcoal-se.org/assets/css/branding.css" %>

  <%= javascript_include_tag "https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js" %>
  <%= javascript_include_tag "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" %>
  <%= javascript_include_tag "https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js" %>
  <%= javascript_pack_tag 'vendor', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag "//code.highcharts.com/highcharts.js", "chartkick" %>

  <%= csrf_meta_tags %>
  <%= action_cable_meta_tag %>
</head>
  <body class="<%= controller.class.name.sub(/Controller$/, '').underscore.dasherize %>">

    <nav class="navbar navbar-default navbar-static-top <%= "navbar-inverse" unless Rails.env.production? %>">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle status-<%= SmokeDetector.status_color %> collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="inline home" href="//charcoal-se.org/"><img src="//charcoal-se.org/assets/images/charcoal.png" height="32"><span>by Charcoal</span></a>
          <a class="navbar-brand" href="/">metasmoke</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <%= nav_link PostsController %>
            <li class='<%= (controller.class == DashboardController && controller.action_name == :index) ? "active" : "" %>'><%= link_to "reasons", reasons_path %></li>
            <%= nav_link GraphsController %>
            <%= nav_link SearchController %>
            <% if user_signed_in? %>
              <%= nav_link ReviewController do %>
                <% review_items = Post.without_feedback.count %>
                <%# badge hides itself if it doesn’t have contents. %>
                <span class="reviews-count badge"><% if review_items > 0 %><%= review_items %><% end %></span>
              <% end %>
            <% end %>
            <%= nav_link FlagSettingsController, action: :dashboard, label: 'flagging', active: [FlagConditionsController, FlagLogController] %>
            <% if user_signed_in? %>
              <%= nav_dropdown AdminController, label: 'tools' do %>
                <%= nav_link AdminController, label: 'User Data', action: :users %>
                <%= nav_link AdminController, label: 'Invalidated Feedback', action: :recently_invalidated %>
                <%= nav_link AdminController, label: 'Feedback via API', action: :api_feedback %>
                <% if current_user.moderator? %>
                  <%= nav_link StackExchangeUsersController, label: 'Spammers', action: :sites %>
                <% end %>
                <li role="separator" class="divider"></li>
                <% if Announcement.current.count > 0 %>
                  <%= nav_link AnnouncementsController, label: "Announcements <span class='badge'>#{Announcement.current.count}</span>" %>
                <% else %>
                  <%= nav_link AnnouncementsController, label: 'Announcements' %>
                <% end %>
                <% if current_user.try(:has_role?, :core) %>
                  <%= nav_link DataController, label: 'Data Explorer' %>
                <% end %>
                <%= nav_link SpamDomainsController, label: 'Spam Domains' %>
                <%= nav_link DomainTagsController, label: 'Domain Tags' %>
                <% if current_user.has_role? :admin %>
                  <li role="separator" class="divider"></li>
                  <%= nav_link AdminController, label: 'User Permissions', action: :permissions %>
                  <%= nav_link APIKeysController, label: 'API Keys' %>
                  <%= nav_link AdminController, label: 'Admin Report Queue', action: :flagged %>
                <% end %>
                <% if current_user.has_role? :developer %>
                  <%#
                    TODO:  Make the `class="text-danger"` part actually adjust the color of the item
                    (currently, it’s overridden with `.dropdown-menu > li > a` in Bootstrap)
                  %>
                  <%= nav_link DeveloperController, label: 'Production log', action: :production_log %>
                <% end %>
              <% end %>
            <% end %>
            <%= nav_link StatusController, attrs: {
              class: ['status', "status-#{SmokeDetector.status_color}"],
              data: {
                last_ping: SmokeDetector.select(:last_ping).order(last_ping: :desc).first.last_ping.to_f,
                toggle: 'tooltip',
                placement: 'bottom'
              }
            } %>
          </ul>
          <% if controller.class == DashboardController && controller.action_name == :index %>
            <form class="navbar-form navbar-right" role="search">
              <div class="form-group">
                <input type="text" id="search" class="form-control" placeholder="Search reasons">
              </div>
            </form>
          <% end %>
          <ul class="nav navbar-nav navbar-right">
            <% if user_signed_in? %>
              <%= nav_dropdown label: current_user.username || current_user.email do %>
                <%= nav_link CustomSessionsController, label: 'Sign Out', action: :destroy, link_attrs: { method: 'delete' } %>
                <%= nav_link Devise::RegistrationsController, label: 'Account Settings', action: :edit %>
                <%= nav_link UsersController, action: :apps %>
                <% if current_user.has_role? :smoke_detector_runner %>
                  <%= nav_link SmokeDetectorsController, label: 'My SmokeDetectors', action: :mine %>
                <% end %>
                <%= nav_link AdminController, label: 'My Feedback', params: { user_id: current_user.id }, action: :user_feedback %>
              <% end %>
            <% else %>
              <%= nav_link CustomSessionsController, label: 'sign in', action: :new %>
              <%= nav_link Devise::RegistrationsController, label: 'sign up', action: :new %>
            <% end %>
            <% if CurrentCommit.present? %>
              <%= nav_link CodeStatusController, label: '', attrs: {
                title: "Controller: #{controller.class}##{controller.action_name}",
                class: 'commit-sha',
                data: {
                  sha: CurrentCommit
                }
              } do %>
                <code><%= CurrentCommit.first(7) %></code>
              <% end %>
            <% end %>
            <% if controller.class == DashboardController %>
              <li class="search-icon hidden-xs"><a class="glyphicon glyphicon-search" href=#><span class="sr-only">Search</span></a></li>
            <% end %>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
    <div class="col-md-offset-1 col-md-10">

      <div class="alert alert-warning" id="metasmoke-deployed-banner" style="display: none" role="alert">
        This page has been updated. <a href="" data-turbolinks="false">Refresh</a> to get the latest version.
      </div>

      <% flash.each do |key, value| %>
        <div class="alert alert-<%= key %>"><%= value %></div>
      <% end %>

      <% if Announcement.current.count > 0 %>
        <p><em><a href="#" class="announcement-collapse">Hide announcements</a></em></p>
        <div class="announcements">
          <% Announcement.current.each do |a| %>
            <%= render "announcements/announcement", announcement: a %>
          <% end %>
        </div><br/>
      <% end %>

      <%= yield %>
      <div class="footer">
        <p class="text-muted">
          We are <a href="//charcoal-se.org/">Charcoal</a> (not <a href="//stackexchange.com/">Stack Exchange</a>). We make <a href="//github.com/Charcoal-SE">nice things</a>.<br/>
          <a href="//chat.stackexchange.com/rooms/11540/charcoal-hq">chat</a> • <a href="//charcoal-se.org/security">security</a> • <a href="mailto:smokey@charcoal-se.org">contact</a><br/>
          <span class="small">Post content sourced from the <a href="http://stackexchange.com">Stack Exchange Network</a>.</span>
        </p>
      </div>
    </div>
  </body>
</html>
