<!DOCTYPE html>
<html>
<head>
  <title>metasmoke</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= favicon_link_tag       'favicon.ico' %>
  <%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <nav class="navbar navbar-default navbar-static-top">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">metasmoke</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li class='<%= (controller.class == DashboardController or controller.class == ReasonsController) ? "active" : "" %>'><%= link_to "reasons", dashboard_path %></li>
          <li class='<%= controller.class == GraphsController ? "active" : "" %>'><%= link_to "graphs", graphs_path %></li>
          <li class='<%= controller.class == PostsController ? "active" : "" %>'><%= link_to "posts", posts_path %></li>
          <li class='<%= controller.class == SearchController ? "active" : "" %>'><%= link_to "search", search_path %></li>
        </ul>
        <% if controller.class == DashboardController %>
          <form class="navbar-form navbar-right" role="search">
            <div class="form-group">
              <input type="text" id="search" class="form-control" placeholder="Search reasons">
            </div>
          </form>
        <% end %>
        <ul class="nav navbar-nav navbar-right">
          <% if user_signed_in? %>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><%= current_user.email %> <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><%= link_to 'Logout', destroy_user_session_path, :method => :delete %></li>
              </ul>

            </li>
          <% end %> 
          <% if CurrentCommit.present? %>
            <li><a href="https://github.com/Charcoal-SE/metasmoke/commit/<%= CurrentCommit %>"><code><%= CurrentCommit %></code></a></li>
          <% end %>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>

  <div class="col-md-offset-1 col-md-10">
    <%= yield %>
  </div>

</body>
</html>
