<!DOCTYPE html>
<html>
<head>
  <title>
    <%= if content_for?(:title) then yield(:title) + ' - ' end %>
    metasmoke
  </title>

  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <% Rack::MiniProfiler.step('Rendering: layouts/application/head') do %>
    <% cache "application/head_tags" do %>
      <%= stylesheet_link_tag 'application', media: 'all' %>
      <%= favicon_link_tag '/favicon.ico' %>
      <link rel="search" type="application/opensearchdescription+xml" title="metasmoke"
            href="https://metasmoke.erwaysoftware.com/opensearch.xml">

      <%= stylesheet_link_tag "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" %>
      <%= stylesheet_link_tag "https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.1/css/bootstrap-select.min.css" %>
      <%= stylesheet_link_tag "https://charcoal-se.org/assets/css/branding.css" %>
      <%= stylesheet_link_tag "https://use.fontawesome.com/releases/v5.2.0/css/all.css", integrity: "sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ", crossorigin: "anonymous" %>

      <%= javascript_include_tag "https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js" %>
      <%= javascript_include_tag "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" %>
      <%= javascript_include_tag "https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js" %>
      <%= javascript_include_tag "//code.highcharts.com/highcharts.js", "chartkick" %>
    <% end %>
    <%= javascript_pack_tag 'vendor', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
  <% end %>
</head>
<body class="<%= controller.class.name.sub(/Controller$/, '').underscore.dasherize %>">
  <nav class="navbar navbar-default navbar-static-top <%= "navbar-inverse" unless Rails.env.production? %>">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle status-<%= SmokeDetector.status_color %> collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="inline home" href="//charcoal-se.org/"><img src="//charcoal-se.org/assets/images/charcoal.png" height="32"><span>by Charcoal</span></a>
        <a class="navbar-brand" href="/">metasmoke</a>
      </div>

      <% Rack::MiniProfiler.step('Rendering: layouts/application/nav') do %>
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <%= nav_link PostsController %>
          <li class='<%= (controller.class == DashboardController && controller.action_name == :index) ? "active" : "" %>'><%= link_to "reasons", reasons_path %></li>
          <% Rack::MiniProfiler.step('Rendering: layouts/application/nav/review') do %>
          <% if user_signed_in? && current_user.has_role?("reviewer") %>
            <% q_counts = redis.smembers("review_queues").map { |i| [i.to_i, redis.scard("review_queue/#{i}/unreviewed")] }.to_h %>
            <% total_count = q_counts.sum { |_k, v| v } %>
            <% label = raw("review <span class='reviews-count badge'>#{total_count != 0 && current_user&.has_role?(:reviewer) ? total_count : nil}</span>") %>
            <% Rack::MiniProfiler.step('Rendering: layouts/application/nav/review/dropdown') do %>
            <%= nav_dropdown ReviewQueuesController, label: label do %>
              <% ReviewQueue.where(privileges: current_user.roles.map(&:name)).each do |rq| %>
                <li>
                  <%= link_to review_queue_path(rq.name) do %>
                    <% count = q_counts[rq.id] %>
                    <%= rq.name.titleize %>
                    <span class="badge"><%= (count.nil? || count.zero?) ? '' : (count > 50 ? '50+' : count) %></span>
                  <% end %>
                </li>
              <% end %>
            <% end %>
            <% end %>
          <% end %>
          <% end %>
          <%= nav_dropdown AdminController, label: 'tools' do %>
            <%= nav_link SpamDomainsController, label: 'Domains' %>
            <%= nav_link DomainTagsController, label: 'Domain Tags' %>
            <%= nav_link DomainGroupsController, label: 'Domain Groups' %>
            <li role="separator" class="divider"></li>
            <%= nav_link GraphsController, label: 'Graphs' %>
            <%= nav_link StackExchangeUsersController, label: 'Spammers', action: :sites %>
          <% end %>

          <% if current_user&.has_role?(:core) %>
            <%= nav_dropdown DashboardController, action: 'new_dash', label: 'core' do %>
              <% unless current_user&.has_role?(:admin) %>
                <%= nav_link AdminController, label: 'User Data & Roles', action: :users %>
                <li role="separator" class="divider"></li>
              <% end %>
              <%= nav_link AdminController, label: 'Invalidated Feedback', action: :recently_invalidated %>
              <%= nav_link AdminController, label: 'Feedback via API', action: :api_feedback %>
              <li role="separator" class="divider"></li>
              <% if Announcement.current.count > 0 %>
                <%= nav_link AnnouncementsController, label: 'Announcements' do %>
                  <span class="badge"><%= Announcement.current.count %></span>
                <% end %>
              <% else %>
                <%= nav_link AnnouncementsController, label: 'Announcements' %>
              <% end %>
              <li role="separator" class="divider"></li>
              <%= nav_link DataController, label: 'JS Data Exploder' %>
              <%= nav_link nil, path: '/data/sql', label: 'SQL Data Exploder' %>
              <%= nav_link false, path: '/api/graphql', label: 'GraphQL Data Exploder' %>
              <%= nav_link false, path: '/api/graphiql', label: 'GraphiQL Data Exploder' %>
              <li role="separator" class="divider"></li>
              <%= nav_link AbuseReportsController, label: 'Abuse Reports', action: :index %>
              <% unless current_user&.has_role?(:developer) %>
                <li role="separator" class="divider"></li>
                <%= nav_link DumpsController, label: 'Database Dumps', action: :index %>
              <% end %>
            <% end %>
          <% end %>

          <% if current_user&.has_role?(:admin) %>
            <%= nav_dropdown AdminController, label: 'admin' do %>
              <%= nav_link AdminController, label: 'User Data & Roles', action: :users %>
              <%= nav_link APIKeysController, label: 'API Keys' %>
              <%= nav_link SiteSettingsController, label: 'Website Configuration' %>
              <%= nav_link SpamWavesController, label: 'Spam Waves' %>
            <% end %>
          <% end %>

          <% if current_user&.has_role?(:developer) %>
            <%= nav_dropdown DashboardController, action: 'new_dash', label: 'dev' do %>
              <%= nav_link DumpsController, label: 'Database Dumps', action: :index %>
              <%= nav_link DeveloperController, label: 'Production log', action: :production_log %>
              <%= nav_link RedisLogController, label: 'Request log', action: :index %>
            <% end %>
          <% end %>

          <%= nav_link StatusController, attrs: {
            id: 'smokedetector-status',
            class: ['status', "status-#{SmokeDetector.status_color}"],
            data: {
              last_ping: SmokeDetector.select(:last_ping).order(last_ping: :desc).first.last_ping.to_f,
              toggle: 'tooltip',
              placement: 'bottom'
            }
          } %>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <% if user_signed_in? %>
            <%= nav_dropdown label: current_user.username || current_user.email do %>
              <%= nav_link CustomSessionsController, label: 'Sign Out', action: :destroy, link_attrs: { method: 'delete' } %>
              <%= nav_link CustomRegistrationsController, label: 'Account Settings', action: :edit %>
              <%= nav_link UsersController, action: :apps, label: 'Apps' %>
              <% if current_user.has_role? :smoke_detector_runner %>
                <%= nav_link SmokeDetectorsController, label: 'My SmokeDetectors', action: :mine %>
              <% end %>
              <%= nav_link AdminController, label: 'My Feedback', params: { user_id: current_user.id }, action: :user_feedback %>
              <% if session[:impersonator_id].present? %>
                <%= nav_link DeveloperController, action: :change_back, label: 'Stop impersonating' %>
              <% end %>
            <% end %>
          <% else %>
            <%= nav_link CustomSessionsController, label: 'sign in', action: :new %>
            <%= nav_link CustomRegistrationsController, label: 'sign up', action: :new %>
          <% end %>
          <% if CurrentCommit.present? %>
            <%= nav_link CodeStatusController, label: '', attrs: {
              title: "Controller: #{controller.class}##{controller.action_name}",
              class: 'commit-sha',
              data: {
                sha: CurrentCommit
              }
            } do %>
              <code><%= CurrentCommit.first(7) %></code>
            <% end %>
          <% end %>
          <li class="nav-link <%= (controller.class == SearchController && controller.action_name.to_sym == :index) ? "active" : "" %>">
            <%= link_to '', search_path, class: 'glyphicon glyphicon-search' %>
          </li>
          <% flagging_status = FlagSetting['flagging_enabled'] == '0' ? 'critical' : (FlagSetting['dry_run'] == '1' ? 'warning' : 'good') %>
          <li class="nav-link status status-<%= flagging_status %> <%= (controller.class == FlagSettingsController && controller.action_name.to_sym == :dashboard) ? "active" : "" %>">
            <%= link_to '', flagging_path, class: 'glyphicon glyphicon-flag' %>
          </li>
        </ul>
      </div><!-- /.navbar-collapse -->
    <% end %>
    </div><!-- /.container-fluid -->
  </nav>
  <div class="initial-content col-md-offset-1 col-md-10">
    <% Rack::MiniProfiler.step('Rendering: layouts/application/announcements') do %>
    <div class="alert alert-warning" id="metasmoke-deployed-banner" style="display: none" role="alert">
      This page has been updated. <a href="" data-turbolinks="false">Refresh</a> to get the latest version.
    </div>

    <% flash.each do |key, value| %>
      <% if %w[primary secondary success danger warning info light dark message alert muted].include? key.to_s %>
        <div class="alert alert-<%= key %>"><%= value %></div>
      <% end %>
    <% end %>

    <% if Announcement.current.count > 0 %>
      <p><em><a href="#" class="announcement-collapse">Hide announcements</a></em></p>
      <div class="announcements">
        <% Announcement.current.each do |a| %>
          <%= render "announcements/announcement", announcement: a %>
        <% end %>
      </div><br/>
    <% end %>
    <% end %>
    <%= yield %>
  </div>
  <footer class="footer">
    <div class="col-md-offset-1 col-md-10">
      <p class="text-muted">
        We are <a href="//charcoal-se.org/">Charcoal</a> (not <a href="//stackexchange.com/">Stack Exchange</a>). We make <a href="//github.com/Charcoal-SE">nice things</a>.<br/>
        <a href="//chat.stackexchange.com/rooms/11540/charcoal-hq">chat</a> • <a href="//charcoal-se.org/security">security</a> • <a href="mailto:smokey@charcoal-se.org">contact</a><br/>
        <span class="small">Post content sourced from the <a href="http://stackexchange.com">Stack Exchange Network</a>.</span>
      </p>
    </div>
  </footer>
</body>
</html>
